<view class="page">
  <header sellerInfo="{{sellerInfo}}" />
  <view class="nav">
    <view
      wx:for="{{navlist}}"
      wx:key="id"
      class="nav-item {{curIndex === index ? 'active' : ''}}"
      bindtap="chageTab"
      data-index="{{index}}"
    >{{item.title}}</view>
    <view class="nav-line" style="transform: translateX({{curIndex * 100}}%);"></view>
  </view>
  <swiper class="content" current="{{curIndex}}" bindchange="chageTab">
    <swiper-item>
      <goods list="{{list}}" bindchangeGoods="changeGoods" />
      <footer cartList="{{cartList}}" bindclearCart="clearCart" bindchangeGoods="changeGoods" />
    </swiper-item>
    <swiper-item>
      <comments sellerInfo="{{sellerInfo}}" />
    </swiper-item>
    <swiper-item>
      <merchant />
    </swiper-item>
  </swiper>
</view>