.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.nav {
  height: calc(36rpx * 2);
  border-bottom: 1rpx solid #e6e7e8;
  display: flex;
  line-height: calc(36rpx * 2);
  position: relative;
}
.nav-item {
  flex: 1;
  text-align: center;
}
.nav-item.active {
  color: #f01414;
}
.nav-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% / 3);
  border-bottom: 2rpx solid #f01414;
  transition: transform .5s linear;
}
.content {
  flex: 1;
}