* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
body {
  background: #2a2b2f;
}
main {
  width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bottle {
  background: #242529;
  width: calc((100% - 60px) / 4);
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #242529;
  &:hover {
    img {
      animation: wobble; /* referring directly to the animation's @keyframe declaration */
      animation-duration: 1s; /* don't forget to set a duration! */
    }
  }
  img {
    height: 150px;
    user-select: none;
  }
  h3 {
    color: #cecece;
    height: 50px;
    margin: 15px 0;
  }
  p {
    color: #787dd9;
  }
  button {
    background: #2c2d33;
    border: none;
    padding: 0 20px;
    height: 40px;
    color: #cecece;
    font-size: 16px;
    margin-top: 20px;
    svg {
      vertical-align: middle;
      margin-right: 8px;
    }
  }
  span {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &.active {
    border-color: #787dd9;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba($color: #000000, $alpha: .3);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  button {
    height: 100%;
    width: 80px;
    background-color: #787dd9;
    color: #cecece;
    border: none;
    border-radius: 5px;
    &:disabled {
      background: #2a2b2f;
      color: #666;
    }
  }
  ul {
    display: flex;
    flex-direction: row-reverse;
    li {
      width: 40px;
      height: 40px;
      background: #2a2b2f;
      margin-right: 12px;
      padding: 5px;
      position: relative;
    }
    span {
      position: absolute;
      top: 0;
      right: 0;
      width: 12px;
      height: 12px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    img {
      width: 100%;
    }
  }
}
.mark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: #cecece;
    cursor: pointer;
    user-select: none;
  }
}
.mark-item {
  flex: 1;
  background: #202023;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #cecece;
  animation: fadeInDownBig; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
  &:nth-child(odd) {
    background: #242329;
    animation: fadeInUpBig; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
  }
  p, h3 {
    margin-top: 20px;
  }
  &.out {
    animation: slideOutDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
    &:nth-child(odd) {
      animation: slideOutUp; /* referring directly to the animation's @keyframe declaration */
      animation-duration: 1s; /* don't forget to set a duration! */
    }
  }
}