<template>
  <div class="home">
    <header>
      <div class="logo">LOGO</div>
      <el-menu
        :default-active="$route.path"
        mode="horizontal"
        background-color="#3080fe"
        text-color="#fff"
        active-text-color="#fff"
        router
      >
        <el-menu-item index="/">echarts</el-menu-item>
        <el-menu-item index="/list">表格</el-menu-item>
        <el-menu-item index="/add">表单</el-menu-item>
      </el-menu>
      <div class="user">
        <el-avatar shape="square" size="large" src="https://cube.elemecdn.com/9/c2/f0ee8a3c7c9638a54940382568c9dpng.png"></el-avatar>
        <el-dropdown @command="command">
          <span class="el-dropdown-link">
            zyx <i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="a">按钮1</el-dropdown-item>
            <el-dropdown-item command="b">按钮2</el-dropdown-item>
            <el-dropdown-item command="logout">退出</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </header>
    <main>
      <router-view />
    </main>
  </div>
</template>

<script>
export default {
  methods: {
    command (key) {
      if (key === 'logout') {
        localStorage.removeItem('token')
        this.$router.push('/login')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.home {
  background: #eee;
  min-height: 100%;
  min-width: 1200px;
}
header {
  display: flex;
  align-items: center;
  background: #3080fe;
  padding: 12px 20px;
}
.logo {
  width: 120px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.el-menu {
  flex: 1;
  border-bottom: none !important;
  li {
    height: 40px;
    line-height: 40px;
    border-bottom: none !important;
  }
}
.user {
  display: flex;
  align-items: center;
}
.el-dropdown-link {
  color: #fff;
  margin-left: 12px;
}
// 样式穿透，在scoped内修改全局样式
::v-deep .el-menu--horizontal>.el-menu-item.is-active {
  color: #fff;
  border-bottom: none !important;
  background: rgb(38, 102, 203) !important;
}
main {
  padding: 20px;
}
</style>
