<template>
  <div>
    <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
      <van-swipe-item
        v-for="item in banners"
        :key="item.targetId"
      >
        <img :src="item.imageUrl" alt="">
      </van-swipe-item>
    </van-swipe>
  </div>
</template>

<script>
import { getBanner } from '@/api/discover'

export default {
  data () {
    return {
      banners: []
    }
  },
  async created () {
    const res = await getBanner()
    this.banners = res.banners
  }
}
</script>

<style scpped>
img {
  width: 100%;
}
</style>
