<template>
  <div class="list">
    <h3>人员管理</h3>
    <main>
      <header>
        <el-input placeholder="请输入内容" size="small" v-model="searchText">
          <el-button
            size="small"
            slot="append"
            icon="el-icon-search"
            type="primary"
            @click="search"
            >搜索</el-button
          >
        </el-input>
        <el-button size="small" icon="el-icon-plus" type="primary" @click="createVisible = true">新增</el-button>
      </header>
      <p v-if="query" class="search-tip">以下内容包含<b>“{{ query }}”</b></p>
      <el-table size="small" :data="tableData" border style="width: 100%">
        <el-table-column prop="num" label="序号"></el-table-column>
        <el-table-column prop="id" label="id"></el-table-column>
        <el-table-column prop="name" label="姓名"></el-table-column>
        <el-table-column prop="age" label="年龄"></el-table-column>
        <el-table-column label="性别">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.sex === 1">男</el-tag>
            <el-tag v-else type="danger">女</el-tag>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button size="small" @click="getDetail(scope.row)"
              >查看</el-button
            >
            <el-button
              size="small"
              type="primary"
              icon="el-icon-edit"
              circle
              @click="showEdit(scope.row)"
            ></el-button>
            <el-button
              @click="removeTip(scope.row.id)"
              size="small"
              type="danger"
              icon="el-icon-delete"
              circle
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        background
        :current-page="page"
        :page-sizes="[10, 30, 50, 100]"
        :page-size="pagesize"
        layout="prev, pager, next, total, sizes, jumper"
        :total="total"
        @size-change="sizeChange"
        @current-change="currentChange"
      >
      </el-pagination>
      <el-dialog title="查看详情" :visible.sync="detailVisible">
        <p>姓名：{{ detailInfo.name }}</p>
        <p>性别：{{ detailInfo.sex ? "男" : "女" }}</p>
        <p>年龄：{{ detailInfo.age }}</p>
        <p>序号：{{ detailInfo.num }}</p>
        <p>id：{{ detailInfo.id }}</p>
      </el-dialog>
      <el-dialog :title="ruleForm.id ? '修改数据' : '新增数据'" :visible.sync="createVisible" @closed="closed">
        <el-form
          :model="ruleForm"
          :rules="rules"
          ref="form"
          label-width="100px"
        >
          <el-form-item label="姓名" prop="name">
            <el-input v-model="ruleForm.name"></el-input>
          </el-form-item>
          <el-form-item label="年龄" prop="age">
            <el-input v-model="ruleForm.age" type="number"></el-input>
          </el-form-item>
          <el-form-item label="性别" prop="sex">
            <el-select v-model="ruleForm.sex" placeholder="请选择性别">
              <el-option label="男" :value="1"></el-option>
              <el-option label="女" :value="0"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <template v-slot:footer>
          <el-button @click="createVisible = false">取消</el-button>
          <el-button @click="submit" type="primary">确定</el-button>
        </template>
      </el-dialog>
    </main>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      searchText: '', // 搜索框的内容
      query: '', // 确定搜索的内容
      tableData: [],
      total: 0,
      page: 1,
      pagesize: 10,
      detailVisible: false, // 详情弹窗
      detailInfo: {},
      createVisible: false, // 新增弹窗
      ruleForm: {
        name: '',
        age: '',
        sex: ''
      },
      rules: {
        name: [
          { required: true, message: '请输入姓名', trigger: 'blur' },
          { min: 2, max: 5, message: '长度在 2 到 5 个字符', trigger: 'blur' }
        ],
        age: [{ required: true, message: '请输入年龄', trigger: 'blur' }],
        sex: [{ required: true, message: '请选择性别', trigger: 'blur' }]
      }
    }
  },
  methods: {
    // 修改每页条数
    sizeChange (pagesize) {
      this.pagesize = pagesize
    },
    // 修改当前页数
    currentChange (page) {
      this.page = page
    },
    // 搜索数据，使用 query 变量储存 input 框的数据，获取列表
    search () {
      this.query = this.searchText
      this.page = 1
      this.getlist()
    },
    // 获取列表数据
    async getlist () {
      const res = await axios.get('/api/list', {
        params: {
          page: this.page,
          pagesize: this.pagesize,
          query: this.query
        }
      })
      if (res.data.code === 0) {
        this.total = res.data.total
        this.tableData = res.data.values
      } else {
        this.$message.error(res.data.msg)
      }
    },
    // 确定删除的弹窗
    removeTip (id) {
      this.$confirm('此操作将永久删除该文件, 是否继续?', '确认删除', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {
          // 点击确定按钮
          this.remove(id)
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
    },
    // 调用删除接口
    async remove (id) {
      const res = await axios.delete('/api/delete', {
        params: { id }
      })
      if (res.data.code === 0) {
        this.$message.success('删除成功')
        // 删除成功重新获取列表数据
        this.getlist()
      } else {
        this.$message.error(res.data.msg)
      }
    },
    // 查看详情
    getDetail (row) {
      this.detailVisible = true
      this.detailInfo = row
    },
    // 提交数据
    submit () {
      // 触发弹窗内表单的校验
      this.$refs.form.validate(valid => {
        if (valid) {
          // 校验通过调用接口，把表单数据传给接口
          if (this.ruleForm.id) {
            this.update()
          } else {
            this.add()
          }
        }
      })
    },
    // 弹窗关闭后，清空表单数据
    closed () {
      this.$refs.form.resetFields()
      this.ruleForm = { name: '', age: '', sex: '' }
    },
    // 显示编辑的弹窗，把点击的内容反显到弹窗内
    showEdit (row) {
      this.createVisible = true
      this.ruleForm = { ...row }
    },
    // 新增数据
    async add () {
      const res = await axios.post('/api/create', {
        name: this.ruleForm.name,
        age: this.ruleForm.age,
        sex: this.ruleForm.sex
      })
      if (res.data.code === 0) {
        this.$message.success('添加成功')
        this.createVisible = false
        this.getlist()
      } else {
        this.$message.error(res.data.msg)
      }
    },
    // 编辑数据
    async update () {
      const res = await axios.put('/api/update', this.ruleForm)
      if (res.data.code === 0) {
        this.$message.success('修改成功')
        this.createVisible = false
        this.getlist()
      } else {
        this.$message.error(res.data.msg)
      }
    }
  },
  watch: {
    // 监听分页变化，自动获取数据
    page: 'getlist',
    pagesize: 'getlist'
  },
  created () {
    this.getlist()
  }
}
</script>

<style lang="scss" scoped>
.list {
  h3 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 14px;
  }
  main {
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
  }
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  .el-input {
    width: 40%;
    height: 32px;
    overflow: hidden;
    .el-button {
      color: #fff !important;
      border: none !important;
      border-radius: 0 3px 3px 0;
      height: 100%;
      background: #3080fe !important;
    }
    ::v-deep .el-input__inner {
      border-color: #3080fe !important;
    }
    ::v-deep .el-input-group__append {
      border: none !important;
      height: 32px;
      overflow: hidden;
    }
  }
}
.el-pagination {
  float: right;
  margin-top: 20px;
}
.search-tip {
  font-size: 14px;
  margin-bottom: 15px;
  b {
    color: tomato;
  }
}
</style>
