<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  table {
    width: 800px;
    text-align: center;
  }
  tfoot {
    text-align: left;
  }
  .dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .content {
    width: 300px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
  }
  .row {
    padding: 10px 0;
    display: flex;
  }
  .row span {
    width: 100px;
    text-align: center;
  }
  .row input {
    flex: 1;
  }
  .content button {
    display: block;
    margin: 10px auto;
  }
</style>
<body>
  <div class="app">
    <button @click="changeCheckAll(true)">全选</button>
    <button @click="changeCheckAll(false)">全不选</button>
    <button @click="changeCheckAll(-1)">反选</button>
    <button @click="batchesDel">批量删除</button>
    <button @click="list = []">清空购物车</button>
    <button @click="add">添加</button>
    <button @click="list.reverse()">倒叙</button>
    <input type="text" placeholder="搜索" v-model="text">
    <button @click="searchText = text">搜索</button>
    <table border="1">
      <thead>
        <tr>
          <th v-for="item in thead">{{ item }}</th>		
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in copyList">
          <td><input type="checkbox" v-model="item.checked"></td>
          <td>{{ item.name }}</td>
          <td>{{ item.origin }}</td>
          <td>
            <button @click="changeCount(-1, index)">-</button>
            {{ item.num }}
            <button @click="changeCount(1, index)">+</button>
          </td>
          <td>{{ item.createTime }}</td>
          <td>¥{{ item.price }}</td>
          <td>¥{{ item.num * item.price }}</td>
          <td>
            <button @click="edit(item, index)">编辑</button>
            <button @click="remove(index)">删除</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>全选 <input type="checkbox"></td>
          <td colspan="7">总价: ¥{{ total }}</td>
        </tr>
      </tfoot>
    </table>
    <div class="dialog" v-show="visible" @click.self="visible = false">
      <div class="content">
        <div class="row">
          <span>名称：</span>
          <input type="text" v-model="form.name">
        </div>
        <div class="row">
          <span>产地：</span>
          <input type="text" v-model="form.origin">
        </div>
        <div class="row">
          <span>价格：</span>
          <input type="number" v-model.number="form.price">
        </div>
        <button @click="confirm">{{editIndex === null ? '确认添加' : '确认修改'}}</button>
      </div>
    </div>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        text: '',
        searchText: '',
        thead: ['选项', '名称', '产地', '数量', '生产时间', '单价', '小计', '操作'],
        list: JSON.parse(localStorage.getItem('list')),
        visible: false,
        form: {
          name: '',
          origin: '',
          price: ''
        },
        editIndex: null // 编辑按钮的下标
      },
      computed: {
        total() {
          let total = 0
          this.copyList.forEach(item => {
            total += item.price * item.num
          })
          return total
        },
        copyList() {
          // 使用计算属性实现搜索功能
          return this.list.filter(item => item.name.includes(this.searchText))
        }
      },
      methods: {
        // 修改数量
        changeCount (n, index) {
          this.list[index].num += n
          if (this.list[index].num <= 0) {
            this.remove(index)
          }
        },
        // 删除
        remove(index) {
          this.list.splice(index, 1)
        },
        // 批量删除
        batchesDel() {
          this.list = this.list.filter(item => !item.checked)
        },
        // 修改选中状态
        changeCheckAll(flag) {
          if (typeof flag === 'boolean') {
            this.list.forEach(item => item.checked = flag)
          }
          if (flag === -1) {
            this.list.forEach(item => item.checked = !item.checked)
          }
        },
        // 点击弹窗确认按钮
        confirm() {
          if (this.editIndex === null) {
            this.list.push({
              ...this.form,
              num: 1,
              createTime: Date.now(),
              checked: false
            })
          } else {
            // 替换数据
            this.list.splice(this.editIndex, 1, { ...this.form })
          }
          this.visible = false
        },
        // 重置form对象内容
        resetForm() {
          this.form = {
            name: '',
            origin: '',
            price: ''
          }
        },
        add() {
          this.resetForm()
          this.visible = true
          this.editIndex = null // 当前点击的不是编辑按钮
        },
        edit (item, index) {
          this.form = { ...item }
          this.visible = true
          this.editIndex = index // 当前点击的编辑按钮的下标
        }
      },
      watch: {
        list: {
          handler() {
            console.log('list发生改变了', this.list)
            localStorage.setItem('list', JSON.stringify(this.list))
          },
          deep: true
        }
      }
    })
  </script>
</body>
</html>