<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h2>{{ message }}</h2>
    <h2>{{ reverseMessage }}</h2>
    <hr />
    <h2>{{ msg1 }}</h2>
    <button @click="msg1 = 123">修改message</button>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        message: 'hello world!',
        msg: 'msg'
      },
      computed: {
        // 计算属性又缓存，依赖其他变量生成，不能直接修改计算属性的值
        reverseMessage() {
          return this.message.split('').reverse().join('')
        },
        // 给计算属性设置setter，让计算属性允许直接赋值修改
        msg1: {
          get() {
            console.log('获取了msg1计算属性')
            return this.msg.split('').reverse().join('')
          },
          set(val) {
            console.log('设置计算属性msg1的值')
            this.msg = val
          }
        }
      },
      methods: {
        // reverseMessage() {
        //   console.log('反转message')
        //   return this.message.split('').reverse().join('')
        // }
      }
    })
  </script>
</body>
</html>