<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h2 ref="title">count: {{ count }}</h2>
    <button @click="getDom">获取h2</button>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        count: 0
      },
      methods: {
        getDom() {
          // 获取dom元素
          console.log(this.$refs.title)
        }
      },
      created() {
        console.log('vue实例创建成功之后立即执行')
        setInterval(() => {
          this.count ++
        }, 1000)
      }
    })
  </script>
</body>
</html>