<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>

<body>
  <div class="app">
    <input type="text" placeholder="搜索">
    <button @click="search">搜索</button>
    <ul>
      <li v-for="item in list">{{ item }}</li>
    </ul>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        list: ['absw', 'sdfqer', 'asdfda', 'sdgadsff', 'ersdfadfs']
      },
       
    })
  </script>
</body>
</html>