<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h2>{{ title }}</h2>
    <input type="text" v-model="title"> <br />
    <select v-model="title">
      <option value="篮球">篮球</option>
      <option value="足球">足球</option>
      <option value="保龄球">保龄球</option>
      <option value="高尔夫球">高尔夫球</option>
    </select> <br />
    <textarea v-model="title"></textarea>
    <hr />
    {{hobby}}
    <ul>
      <li><input type="checkbox" value="篮球" v-model="hobby">篮球</li>
      <li><input type="checkbox" value="足球" v-model="hobby">足球</li>
      <li><input type="checkbox" value="保龄球" v-model="hobby">保龄球</li>
      <li><input type="checkbox" value="羽毛球" v-model="hobby">羽毛球</li>
      <li><input type="checkbox" value="乒乓球" v-model="hobby">乒乓球</li>
    </ul>
    {{ xm.age }} <button @click="xm.age ++">+</button>
    {{ xm }}
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        title: '标题',
        hobby: [],
        xm: {
          name: '晓明哥',
          age: 40,
          hobby: [],
          info: {
            address: '北京',
            married: {
              aa: {
                bb: {
                  e: 10
                }
              }
            }
          }
        }
      },
      watch: {
        // 监听 title 改变
        title(newVal, oldVal) {
          console.log('title发生改变了', newVal, oldVal)
          localStorage.setItem('title', this.title)
        },
        hobby(newVal) {
          console.log('爱好改变了', newVal)
        },
        // 如果监听的值是对象监听不到属性发生改变
        // xm(newVal) {
        //   console.log('晓明的爱好改变了', newVal)
        // },
        // 想要监听对象内所有属性的改变，需要深度监听
        xm: {
          handler(newval) {
            console.log('xm的内容发生改变了', newval)
          },
          deep: true, // 深度监听
          immediate: true // 进入页面立即执行一次
        }
      },
      methods: {
      }
    })
  </script>
</body>
</html>