<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <p>
      <input type="checkbox" @change="changAll" v-model="checkAll">全选 {{ checkAll }}
    </p>
    <ul>
      <li v-for="item in hobby">
        <input type="checkbox" v-model="item.checked"> {{ item.text }}
      </li>
    </ul>
    {{ hobby }}
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        checkAll: false,
        hobby: [
          {
            text: '苹果',
            checked: true
          },
          {
            text: '踢足球',
            checked: true
          },
          {
            text: '玩高尔夫球',
            checked: true
          },
          {
            text: '喝奶茶',
            checked: true
          }
        ]
      },
      watch: {
        hobby: {
          handler() {
            this.checkAll = this.hobby.every(v => v.checked)
          },
          deep: true,
          immediate: true
        }
      },
      methods: {
        changAll(e) {
          this.hobby.forEach(item => item.checked = e.target.checked)
        }
      }
    })
  </script>
</body>
</html>