<template>
  <div class="about">
    <h2>关于我们</h2>
    <button @click="sub">-</button>
    {{ num }}
    <button @click="add">+</button>
    <div>
      <input type="text" placeholder="添加爱好" v-model="hobbyText">
      <button @click="submit">提交</button>
    </div>
    {{ hobby }}
  </div>
</template>

<script>
export default {
  data () {
    return {
      hobbyText: ''
    }
  },
  computed: {
    // 使用计算属性获取仓库的数据，仓库数据改变时页面会自动更新
    num () {
      return this.$store.state.num
    },
    hobby () {
      return this.$store.state.hobby
    }
  },
  methods: {
    add () {
      // 组件调用仓库的 mutations 函数修改仓库数据
      // this.$store.commit('函数名', 参数)
      this.$store.commit('setNum', 1)
    },
    sub () {
      console.log('减一')
      this.$store.commit('setNum', -1)
    },
    submit () {
      console.log('添加爱好', this.hobbyText)
      this.$store.commit('addHobby', this.hobbyText)
    }
  }
}
</script>
