<template>
  <div class="home">
    <h2>首页</h2>
    <div>{{ title }}</div>
    <div>年龄: {{ num }}</div>
    <div>
      爱好:
      <ul>
        <li v-for="item in hobby" :key="item">{{ item }}</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    // 使用计算属性获取仓库的数据，仓库数据改变时页面会自动更新
    title () {
      return this.$store.state.title
    },
    num () {
      return this.$store.state.num
    },
    hobby () {
      return this.$store.state.hobby
    }
  },
  created () {
    // vuex 实例对象
    console.log(this.$store.state)
  }
}
</script>
