<template>
  <div class="home">
    <ul :class="{ grid: isGrid }">
      <li v-for="item in list" :key="item">{{ item }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  data () {
    return {
      list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    }
  },
  computed: {
    isGrid () {
      return this.$store.state.isGrid
    }
  }
}
</script>

<style lang="scss" scoped>
li {
  list-style: none;
  line-height: 50px;
  border-bottom: 1px solid;
  padding: 0 30px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 50%;
    text-align: center;
    border: 1px solid;
  }
}
</style>
