<template>
  <div class="app">
    <!-- <Input label="姓名" v-model="abc" /> {{ abc }} -->
    <!-- <Input label="姓名" :value="abc" @input="abc = $event" /> -->
    <!-- <Count v-model="age" />
    <Count :value="age" @input="age = $event" />
    {{ age }} -->

    <!-- <Count1 :age.sync="age" :user.sync="abc" /> {{ age }} -->
    <!-- <Count1 :age="age" @update:age="age = $event" :user="abc" @update:user="user = $event" /> -->
    <!-- {{ abc }} -->


    <Button @click="show = true">普通弹窗</Button>
    <Dialog
      :visible.sync="show"
      title="标题"
    ></Dialog>
  </div>
</template>

<script>
import Input from './components/Input.vue'
import Count from './components/Count.vue'
import Count1 from './components/Count1.vue'
import Button from './components/Button.vue'
import Dialog from './components/Dialog.vue'

export default {
  data() {
    return {
      abc: '王小明',
      age: 10,
      show: false
    }
  },
  components: {
    Input,
    Count,
    Count1,
    Button,
    Dialog
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  background: #009688;
}
.app {
  width: 800px;
  margin: 0 auto;
}
ul li {
  list-style-type: none;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
}
</style>