<template>
  <div class="case">
    <table border="1">
      <thead>
        <tr>
          <th><input type="checkbox" v-model="checkedAll" @change="changeAllChecked"></th>
          <th>书名</th>
          <th>作者</th>
          <th>类型</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in bookcase" :key="item.id">
          <td>
            <input
              type="checkbox"
              :checked="item.checked"
              @change="changeBookChecked(index)"
            >
          </td>
          <td>{{ item.title }}</td>
          <td>{{ item.author }}</td>
          <td>{{ item.tags }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <input type="checkbox" v-model="checkedAll" @change="changeAllChecked">
            <span>全选</span>
            <span @click="toTop">置顶</span>
            <span @click="remove">删除</span>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
export default {
  data () {
    return {
      checkedAll: false
    }
  },
  watch: {
    // 监听书架的数据改变
    bookcase: {
      handler () {
        if (this.bookcase.length === 0) {
          this.checkedAll = false
        } else {
          this.checkedAll = this.bookcase.every(item => item.checked)
        }
      },
      deep: true,
      immediate: true
    }
  },
  computed: {
    ...mapState(['bookcase'])
  },
  methods: {
    ...mapMutations(['changeAll', 'changeBookChecked', 'remove', 'toTop']),
    changeAllChecked () {
      // 修改全选状态，调用仓库的方法修改每一项的选中状态
      this.changeAll(this.checkedAll)
    }
  }
}
</script>

<style lang="scss" scoped>
.case {
  padding: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
thead, tfoot {
  background: #ddd;
}
th, td {
  height: 40px;
  text-align: left;
  padding-left: 20px;
  span {
    margin-left: 10px;
    cursor: pointer;
  }
}
</style>
