<template>
  <div>
    <h2>{{ info.title }}</h2>
    <img :src="info.avatar" alt="">
    <p>简介：{{ info.summary }}</p>
    <div class="btns">
      <button
        :class="{ isCase: info.isCase }"
        @click="setBookcase(info)"
      >{{info.isCase ? '已在书架' : '加入书架'}}</button>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState(['allList']),
    info () {
      return this.allList.find(item => item.id === this.$route.params.id * 1) || {}
    }
  },
  methods: {
    ...mapMutations(['setBookcase'])
  }
}
</script>

<style lang="scss" scoped>
.btns {
  button {
    padding: 10px 30px;
    margin-right: 10px;
    &:first-of-type {
      background: tomato;
      color: #fff;
      border: none;
    }
    &:last-of-type {
      background: #fff;
      border: 1px solid rgb(25, 25, 84);
      color: rgb(25, 25, 84);
    }
    &.isCase {
      border: 1px solid #ccc;
      color: #ccc;
    }
  }
}
</style>
