<template>
  <div>
    <nav>
      <span
        v-for="(item, index) in navlist"
        :key="item"
        :class="{ active: curIndex === index }"
        @click="curIndex = index"
      >{{ item }}</span>
      <router-link to="/bookcase">我的书架</router-link>
    </nav>
    <main>
      <dl v-for="item in curList" :key="item.id">
        <dt><img :src="item.avatar" alt=""></dt>
        <dd>
          <h3>
            <b>{{ item.title }}</b>
            <span>{{ item.tip_welth_sum }}张月票</span>
          </h3>
          <p class="author">
            <span>{{ item.author }}</span>
            <span v-for="v in item.tags" :key="v"> | {{ v }}</span>
          </p>
          <div class="desc">{{ item.summary }}</div>
          <div class="btns">
            <button @click="goDetail(item.id)">书籍详情</button>
            <button
              :class="{ isCase: item.isCase }"
              @click="setBookcase(item)"
            >{{item.isCase ? '已在书架' : '加入书架'}}</button>
          </div>
        </dd>
      </dl>
    </main>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  data () {
    return {
      navlist: ['全部', '玄幻', '都市', '甜宠'],
      curIndex: 0
    }
  },
  methods: {
    ...mapMutations(['setBookcase']),
    goDetail (id) {
      this.$router.push(`/detail/${id}`)
    }
  },
  computed: {
    ...mapState(['allList']),
    curList () {
      if (this.navlist[this.curIndex] === '全部') return this.allList
      return this.allList.filter(item => item.tags.includes(this.navlist[this.curIndex]))
    }
  },
  created () {
    if (this.allList.length === 0) {
      // 调用仓库中的 actions 函数
      this.$store.dispatch('getList')
    }
  }
}
</script>

<style lang="scss" scoped>
nav {
  background: #eeeeee;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  span {
    float: left;
    margin: 0 20px;
    cursor: pointer;
  }
  .active {
    color: tomato;
  }
}
main {
  dl {
    padding: 20px;
    border-bottom: 1px solid;
    display: flex;
  }
  dt {
    width: 120px;
    img {
      width: 100%;
    }
  }
  dd {
    flex: 1;
    margin-left: 20px;
  }
  h3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .desc {
    margin: 10px 0;
  }
}
.btns {
  button {
    padding: 10px 30px;
    margin-right: 10px;
    &:first-of-type {
      background: tomato;
      color: #fff;
      border: none;
    }
    &:last-of-type {
      background: #fff;
      border: 1px solid rgb(25, 25, 84);
      color: rgb(25, 25, 84);
    }
    &.isCase {
      border: 1px solid #ccc;
      color: #ccc;
    }
  }
}
</style>
