* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
html, body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg,#ffafbd,#ffc3a0);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  padding: 30px 40px 20px;
  text-align: center;
  width: 440px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 80px;
    margin-right: 10px;
  }
  .title {
    height: 45px;
    transform: rotate(3deg);
    font-size: 21px;
    padding: 0.25em 0.8em 0.15em;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    color: #fff;
    background: #fe7345;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
.form-wrapper {
  padding-top: 30px;
  h1 {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .form {
    padding: 0 20px;
    display: flex;
    input {
      flex: 1;
      margin-right: 15px;
      outline: none;
      border: none;
      border-bottom: 3px dashed #fe7345;
      padding: 5px 0 3px;
      font-size: 18px;
      background: transparent;
    }
    button {
      width: 70px;
      height: 37px;
    }
  }
}
.list {
  margin-top: 40px;
  li {
    margin-top: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    .text {
      flex: 1;
      margin-left: 10px;
      text-align: left;
    }
    .checkbox, .close {
      width: 24px;
      height: 24px;
    }
  }
  .done {
    background: #fe7345;
    animation: flipInX; /* referring directly to the animation's @keyframe declaration */
    animation-duration: .5s; /* don't forget to set a duration! */
    .text {
      color: #fff;
    }
    .close svg path {
      fill: #fff;
    }
  }
}
footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  .center {
    display: flex;
    button {
      margin-right: 10px;
    }
  }
  button {
    background: none;
    outline: none;
    border: none;
    padding: 0 5px;
    border-radius: 3px;
    &:hover, &.active {
      background: #fe7345;
      color: #ffffff;
    }
  }
}