.login {
  height: 100vh;
  width: 100vw;
  background: #f0f2f5 url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg) no-repeat center;
  background-size: 100%;
  display: flex;
  justify-content: center;
}
.content {
  width: 328px;
}
.top {
  text-align: center;
  margin: 100px 0 60px;
  p {
    color: #8c8c8c;
  }
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  img {
    width: 40px;
  }
  b {
    font-size: 24px;
    padding-left: 15px;
  }
}
.form {
  :global {
    .ant-tabs-top > .ant-tabs-nav::before{
      border-color: #0000000f;
    }
  }
}