<template>
  <div class="dialog" v-if="visible">
    <div class="content">
      <div class="title">{{ title }}</div>
      <div class="btns">
        <button @click="$emit('update:visible', false)">取消</button>
        <button @click="$emit('ok')">确定</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['title', 'visible']
}
</script>

<style lang="scss" scoped>
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color: #000000, $alpha: .5);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: #fff;
  width: 200px;
  overflow: hidden;
}
.title {
  padding: 15px;
  text-align: center;
}
.btns {
  display: flex;
  border-top: 1px solid #ccc;
  button {
    flex: 1;
    background: #fff;
    border: none;
    height: 40px;
    &:last-of-type {
      color: tomato;
    }
  }
}
</style>
