<template>
  <div class="checkall">
    <ul>
      <li v-for="(item, index) in list" :key="item.id">
        <input type="checkbox" :checked="item.checked" @change="changeItem(index)">
        {{ item.text }}
      </li>
    </ul>
    <footer>
      <input v-model="checkAll" @change="changeAll" type="checkbox" id="checkAll"><label for="checkAll">全选 {{checkAll}}</label>
    </footer>
    {{ list }}
  </div>
</template>

<script>
export default {
  data () {
    return {
      checkAll: false,
      list: [
        {
          id: 0,
          text: '打羽毛球',
          checked: true
        },
        {
          id: 1,
          text: '打篮球球',
          checked: true
        },
        {
          id: 3,
          text: '保龄球球',
          checked: true
        },
        {
          id: 4,
          text: '高尔夫球',
          checked: true
        }
      ]
    }
  },
  watch: {
    list: {
      handler () {
        this.checkAll = this.list.every(v => v.checked)
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    // 修改全选
    changeAll () {
      this.list.forEach(item => {
        item.checked = this.checkAll
      })
    },
    // 修改每一项的选中状态
    changeItem (index) {
      this.list[index].checked = !this.list[index].checked
    }
  }
}
</script>

<style>
.checkall {
  padding: 20px;
}
</style>
