.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  &:hover {
    color: #1890ff;
  }
}

.logo {
  height: 48px;
  margin: 16px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-right: 20px;
  .left {
    display: flex;
    align-items: center;
  }
}
.site-content {
  padding: 24px;
  min-height: 280px;
  overflow: auto;
}