<template>
  <div class="cart">
    <div class="checkall">
      <input type="checkbox" v-model="checkAll" @change="changeAllChecked({ checked: checkAll })"> 全选
    </div>
    <ul>
      <li v-for="item in cart" :key="item.id">
        <input type="checkbox" :checked="item.checked" @change="changeChecked({ id: item.id })">
        {{ item.checked }}
        <p>{{ item.name }}</p>
        <p>¥{{ item.price }}</p>
        <p>
          <button @click="sub(item)">-</button>
          {{ item.count }}
          <button @click="changeCart({ id: item.id, num: 1 })">+</button>
        </p>
      </li>
    </ul>
    <footer>
      总价：¥ {{ total }}
    </footer>
    <Dialog :visible.sync="visible" :title="curDialogInfo.title" @ok="okCb" />
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex'
import Dialog from '@/components/Dialog.vue'

export default {
  data () {
    return {
      visible: false,
      curDialogInfo: {
        title: '',
        id: ''
      },
      checkAll: false
    }
  },
  computed: {
    ...mapState(['cart']),
    ...mapGetters(['total'])
  },
  methods: {
    ...mapMutations(['changeCart', 'changeChecked', 'changeAllChecked']),
    sub (item) {
      if (item.count === 1) {
        // 商品只剩一项的时候提示
        this.visible = true
        this.curDialogInfo = {
          title: `确定删除${item.name}吗？`,
          id: item.id
        }
      } else {
        this.changeCart({ id: item.id, num: -1 })
      }
    },
    okCb () {
      this.changeCart({ id: this.curDialogInfo.id, num: -1 })
      this.visible = false
    }
  },
  watch: {
    cart: {
      handler () {
        this.checkAll = this.cart.every(v => v.checked)
      },
      deep: true,
      immediate: true
    }
  },
  components: {
    Dialog
  }
}
</script>

<style lang="scss" scoped>
.cart {
  height: 100%;
  overflow: auto;
}
.checkall {
  padding: 20px 12px;
}
ul {
  border-top: 1px solid #ccc;
}
li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  border-bottom: 1px solid #ccc;
  height: 50px;
  button {
    width: 20px;
    height: 20px;
  }
}
</style>
