<template>
  <div>
    {{ size }}
    <h2>页面2</h2>
    <ul :class="size">
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
    </ul>
  </div>
</template>

<script>
import size from '@/mixins/size'

export default {
  mixins: [size]
}
</script>

<style lang="scss" scope>
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    list-style-type: none;
    background: #ccc;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}
.big li {
  width: 20%;
}
.middle li {
  width: 30%;
}
.small li {
  width: 100%;
}
</style>
