<template>
  <div :style="{ background: color[size] }">
    {{ size }}
    <h1>页面1 == {{ test }}</h1>
    <form action="">
      <div>
        <label for="">姓名：</label><input type="text">
      </div>
      <div>
        <label for="">年龄：</label><input type="text">
      </div>
      <div>
        <button>提交</button>
      </div>
    </form>
  </div>
</template>

<script>
import size from '@/mixins/size'

export default {
  // 引入混入，把混入配置项合并到当前组件
  mixins: [size],
  data () {
    return {
      color: {
        big: 'red',
        middle: 'yellow',
        small: 'green'
      }
    }
  },
  created () {
    console.log('页面1的生命周期')
  }
}

</script>

<style>

</style>
