<template>
  <div>
    {{ size }}
    <h2>页面3</h2>
    <table :border="borderSize[size]">
      <tr>
        <th>标题1</th>
        <th>标题2</th>
        <th>标题3</th>
        <th>标题4</th>
        <th>标题5</th>
        <th>标题6</th>
        <th>标题7</th>
        <th>标题8</th>
        <th>标题9</th>
        <th>标题10</th>
      </tr>
      <tr>
        <td>内容1</td>
        <td>内容2</td>
        <td>内容3</td>
        <td>内容4</td>
        <td>内容5</td>
        <td>内容6</td>
        <td>内容7</td>
        <td>内容8</td>
        <td>内容9</td>
        <td>内容10</td>
      </tr>
      <tr>
        <td>内容1</td>
        <td>内容2</td>
        <td>内容3</td>
        <td>内容4</td>
        <td>内容5</td>
        <td>内容6</td>
        <td>内容7</td>
        <td>内容8</td>
        <td>内容9</td>
        <td>内容10</td>
      </tr>
    </table>
    <div>
      <button @click="num ++">-</button>
      {{ num }}
      <button @click="num ++">+</button>
    </div>
  </div>
</template>

<script>
import size from '@/mixins/size'

export default {
  mixins: [size],
  data () {
    return {
      borderSize: {
        big: 30,
        middle: 15,
        small: 2
      }
    }
  }
}
</script>

<style>

</style>
