.address {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #eee;
  :global {
    .adm-list-item-title {
      font-size: 20px;
    }
  }
}
.content {
  flex: 1;
  overflow: auto;
}