.login {
  width: 100%;
  height: 100%;
  background: skyblue;
  position: relative;
}
.form {
  width: 300px;
  background: #fff;
  padding: 40px 20px;
  border-radius: 10px;
  position: absolute;
  right: 200px;
  top: 50%;
  transform: translateY(-50%);
}