* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  background: #999;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border: 5px solid orange;
  background: #ccc;
  width: 600px;
  height: 300px;
  display: flex;
}
.keyboard {
  width: 350px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    width: calc((100% - 16px) / 3);
    background: #999;
    margin-bottom: 8px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 0px #333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }
  .active {
    background: orange;
    box-shadow: none;
  }
  &.off {
    p.active {
      background: #999;
      box-shadow: none;
    }
  }
}
.controller {
  width: 250px;
  position: relative;
}
.icon {
  width: 60px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: right;
  img {
    height: 30px;
  }
}
.power {
  text-align: center;
  margin-top: 30px;
  p {
    width: 50px;
    padding: 3px;
    background: #000;
    margin: 0 auto;
    span {
      width: 22px;
      height: 22px;
      background: blue;
      display: block;
      transition: transform 0.3s linear;
    }
    &.on span {
      transform: translateX(100%);
    }
  }
}
.id {
  width: 120px;
  height: 40px;
  background: #999;
  margin: 30px auto 40px;
  line-height: 40px;
  text-align: center;
}
.volume {
  width: 200px;
  height: 6px;
  background: #333;
  margin: 0 auto;
  position: relative;
  i {
    position: absolute;
    top: -7px;
    left: 50%;
    height: 20px;
    width: 10px;
    background: blue;
    cursor: pointer;
  }
}