<template>
  <div>
    <button @click="changeCount(-1)">-</button>
    <span ref="num">{{ count }}</span>
    <button @click="changeCount(1)">+</button>
    {{ obj }}
    <button @click="addAge">给obj添加age属性</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      count: 0,
      obj: {
        name: '小明'
      }
    }
  },
  methods: {
    addAge() {
      // this.obj.age = 100 // 直接给对象添加新属性页面不会更新
      this.$set(this.obj, 'age', 100)
      console.log(this.obj)
    },
    changeCount(n) {
      this.count += n
      // console.log(this.$refs.num.innerHTML) 页面是异步更新的获取不到最新的dom
      // 获取最新的dom
      this.$nextTick(() => {
        // 等本次页面更新完成以后执行，可以获取最新的dom元素
        console.log(this.$refs.num.innerHTML)
      })
    }
  },
  updated() {

  }
}
</script>

<style>

</style>