<template>
  <div class="home">
    <main>
      <router-view />
    </main>
    <nav>
      <router-link to="/movie">电影</router-link>
      <router-link to="/cinema">影院</router-link>
      <router-link to="/mine">我的</router-link>
    </nav>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
  }
  nav {
    height: 50px;
    border-top: 1px solid #ddd;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      line-height: 50px;
      color: #333;
    }
    .router-link-active {
      background: orange;
    }
  }
}
</style>
