<template>
  <div class="movie" @scroll="scrollFn">
    <nav>
      <router-link
        v-for="item in navlist"
        :key="item.path"
        :to="item.path"
      >{{ item.text }}</router-link>
    </nav>
    <section>
      <router-view />
    </section>
    <div class="top" v-show="scrollTop >= 180">
      <h3>
        <router-link to="/city">{{ curCity.name || '北京' }}</router-link>
        电影
      </h3>
      <nav>
        <router-link
          v-for="item in navlist"
          :key="item.path"
          :to="item.path"
        >{{ item.text }}</router-link>
      </nav>
    </div>
  </div>
</template>

<script>

export default {
  data () {
    return {
      navlist: [
        {
          path: '/movie/hot',
          text: '正在热映'
        },
        {
          path: '/movie/coming',
          text: '即将上映'
        }
      ],
      scrollTop: 0,
      curCity: JSON.parse(localStorage.getItem('curCity')) || {}
    }
  },
  methods: {
    scrollFn (e) {
      this.scrollTop = e.target.scrollTop
    }
  }
}
</script>

<style lang="scss" scoped>
.movie {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  nav {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      color: #333;
    }
    .router-link-active {
      color: orange;
    }
  }
  section {
    flex: 1;
  }
}
.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  h3 {
    text-align: center;
    border-bottom: 1px solid #eee;
    line-height: 40px;
    font-weight: normal;
    position: relative;
    a {
      position: absolute;
      left: 15px;
      font-size: 14px;
      color: #333;
    }
  }
}
</style>
