<template>
  <div>组件四</div>
</template>

<script>
export default {
  methods: {
    submit () {
      return new Promise((resolve, reject) => {
        resolve({
          data: '组件四数据获取成功'
        })
      })
    }
  }
}
</script>

<style>

</style>
