<template>
  <el-form
    :model="ruleForm"
    :rules="rules"
    ref="ruleForm"
    label-width="100px"
    class="demo-ruleForm"
  >
    <el-form-item label="配送时间" prop="date">
      <el-input placeholder="请填写配送时间" v-model="ruleForm.date" />
    </el-form-item>
    <el-form-item label="即时配送" prop="delivery">
      <el-switch v-model="ruleForm.delivery"></el-switch>
    </el-form-item>
  </el-form>
</template>
<script>
export default {
  data () {
    return {
      ruleForm: {
        date: '',
        delivery: false
      },
      rules: {
        date: [
          {
            required: true,
            message: '请填写日期',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    submit () {
      return new Promise((resolve, reject) => {
        this.$refs.ruleForm.validate((valid) => {
          if (valid) {
            resolve(this.ruleForm)
          } else {
            reject(Error('校验失败'))
          }
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.demo-ruleForm {
  padding: 40px 0;
  width: 500px;
  margin: 0 auto;
}
</style>
