<template>
  <div class="app">
    <router-view />
  </div>
</template>

<script>
export default {

}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
html, body, .app {
  width: 100%;
  height: 100%;
}
</style>
