<template>
  <header>
    <div class="info"></div>
    <div class="nav">
      <router-link
        v-for="(item, index) in nav"
        :key="item.path"
        :to="item.path"
      >
        {{ item.title }}
        <span @click.prevent="remove(index)">x</span>
      </router-link>
    </div>
  </header>
</template>

<script>
export default {
  data () {
    return {
      nav: []
    }
  },
  methods: {
    addnav (route) {
      if (!this.nav.includes(route)) {
        this.nav.push(route)
      }
    },
    remove (index) {
      // 判断删除的是不是当前页面
      if (this.$route.path === this.nav[index].path) {
        if (this.nav.length === 1) {
          this.nav = []
          this.$router.push('/login')
        } else if (index === 0) {
          this.$router.push(this.nav[index + 1])
          this.nav.splice(index, 1)
        } else {
          this.$router.push(this.nav[index - 1])
          this.nav.splice(index, 1)
        }
        console.log('要删除当前页面')
      } else {
        this.nav.splice(index, 1)
      }
    }
  },
  created () {
    this.$bus.$on('addnav', this.addnav)
  }
}
</script>

<style lang="scss" scoped>
header {
  height: 120px;
}
.info {
  height: 70px;
  border-bottom: 1px solid #ddd;
}
.nav {
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  border-bottom: 1px solid #ccc;
  a {
    margin: 0 20px;
    color: #333;
    width: 100px;
    line-height: 40px;
    text-align: center;
    position: relative;
    border-radius: 6px 6px 0 0;
    text-decoration: none;
    span {
      display: inline-block;
      width: 16px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      border-radius: 50%;
      &:hover {
        background: #999;
      }
    }
    &::after {
      content: '';
      position: absolute;
      right: -20px;
      top: 8px;
      height: 24px;
      border-right: 1px solid #999;
    }
    &:last-of-type::after {
      display: none;
    }
    &.router-link-exact-active {
      background: #eee;
    }
  }
}
</style>
