<template>
  <div class="menu">
    <nav>
      <p
        v-for="(item, index) in navlist"
        :key="item.title"
        :class="{ active: curIndex === index }"
        @click="changeTab(index)"
      >
        <i>{{ item.icon }}</i>
        <span>{{ item.title }}</span>
      </p>
    </nav>
    <div class="tablist">
      <h3>{{ curTitle }}</h3>
      <ul>
        <li
          v-for="item in navlist[curIndex].children"
          :key="item.path"
        >
          <router-link :to="item.path">{{ item.title }}</router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      curIndex: 0,
      curTitle: '111',
      navlist: [
        {
          title: '资金管理',
          icon: 'icon1',
          children: [
            {
              title: '页面一',
              path: '/'
            },
            {
              title: '页面二',
              path: '/child2'
            },
            {
              title: '页面三',
              path: '/child3'
            }
          ]
        },
        {
          title: '系统管理',
          icon: 'icon2',
          children: [
            {
              title: '页面四',
              path: '/child4'
            },
            {
              title: '页面五',
              path: '/child5'
            },
            {
              title: '页面六',
              path: '/child6'
            }
          ]
        }
      ]
    }
  },
  methods: {
    changeTab (i) {
      if (this.$route.path === this.navlist[i].children[0].path) return
      // tab 切换，跳转到第一个子路由
      this.curIndex = i
      this.$router.push(this.navlist[i].children[0].path)
    }
  },
  computed: {
    // curTitle () {
    //   let curTitle = ''
    //   // 遍历导航，根据当前路由地址查找对应的标题
    //   this.navlist.forEach(item => {
    //     item.children.forEach(val => {
    //       if (this.$route.path === val.path) {
    //         curTitle = val.title
    //       }
    //     })
    //   })
    //   return curTitle
    // }
  },
  watch: {
    // 监听路由改变
    $route: {
      handler  () {
        // 遍历导航
        this.navlist.forEach((item, index) => {
          item.children.forEach(val => {
            if (this.$route.path === val.path) {
              this.curIndex = index // 根据当前地址修改高亮下标
              this.curTitle = val.title // 根据当前路由地址查找对应的标题
              this.$nextTick(() => {
                // 组件更新后把当前导航的信息添加到右侧导航栏
                this.$bus.$emit('addnav', val)
              })
            }
          })
        })
      },
      immediate: true
    }
  }
}
</script>

<style lang="scss" scoped>
.menu {
  width: 290px;
  background: #ccc;
  display: flex;
  nav {
    width: 120px;
    background: #001135;
    padding-top: 130px;
    p {
      height: 120px;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      opacity: 0.6;
    }
    .active {
      background: #061d48;
      border-left: 3px solid #fff;
      opacity: 1;
    }
  }
}
.tablist {
  width: 170px;
  background: #061d48;
  h3 {
    height: 130px;
    line-height: 130px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #eee;
  }
  li {
    list-style-type: none;
    margin: 16px 0;
  }
  a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.5;
    display: block;
    line-height: 30px;
    padding-left: 20px;
  }
  .router-link-exact-active {
    opacity: 1;
    border-right: 5px solid skyblue;
  }
}
</style>
