<template>
  <div class="app">
    <Header :status="curStatus" @fn="changeStatus" @search="changeSearch" />
    <main>
      <Task
        v-for="item in curList"
        :key="item.id"
        :info="item"
      />
    </main>
  </div>
</template>

<script>
import axios from 'axios'
import Header from './components/Header.vue'
import Task from './components/Task.vue'

export default {
  data() {
    return {
      list: [], // 全部数据
      curStatus: 2, // 当前状态
      searchText: '' // 搜索的数据
    }
  },
  computed: {
    curList() {
      if (this.curStatus === 0) return this.list.filter(v => v.title.includes(this.searchText))
      return this.list.filter(v => v.status === this.curStatus && v.title.includes(this.searchText))
    }
  },
  methods: {
    changeStatus(status) {
      // status: header组件传出来的当前点击的按钮的状态
      this.curStatus = status
    },
    changeSearch(value) {
      // value: header组件传出来的input框数据
      this.searchText = value
    }
  },
  created() {
    axios.get('/task/list').then(res => {
      this.list = res.data
    })
  },
  components: {
    Header,
    Task
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  background: #009688;
}
.app {
  width: 800px;
  margin: 0 auto;
}
</style>