<template>
  <div class="login">
    <el-form
      :model="ruleForm"
      :rules="rules"
      ref="form"
      class="demo-ruleForm"
    >
      <el-form-item prop="name">
        <el-input placeholder="账户" v-model="ruleForm.name"></el-input>
      </el-form-item>
      <el-form-item prop="password">
        <el-input placeholder="密码" v-model="ruleForm.password" show-password></el-input>
      </el-form-item>
      <el-form-item>
        <el-button style="width: 100%" type="primary" @click="submitForm">登陆</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      // 表单绑定的数据
      ruleForm: {
        name: '',
        password: ''
      },
      // 表单校验的规则
      rules: {
        name: [
          { required: true, message: '请输入用户名', trigger: 'blur' },
          { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'change' }
        ],
        password: [
          { required: true, message: '请输入密码', trigger: 'blur' },
          { min: 8, max: 16, message: '长度在 8 到 16 个字符', trigger: 'change' }
        ]
      }
    }
  },
  methods: {
    submitForm () {
      // 通过表单组件实例对象触发表单校验
      this.$refs.form.validate(async (valid) => {
        // valid: true/false 表单校验是否通过
        if (valid) {
          const res = await axios.post('/api/login', this.ruleForm)
          localStorage.setItem('token', res.data.token)
          const path = this.$route.query.fullPath || '/'
          this.$router.replace(path)
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.login {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left top, #736efe, #5efce8);
}
.demo-ruleForm {
  width: 300px;
  padding: 60px 20px 30px;
  background: #ffffff;
  position: fixed;
  top: 50%;
  right: 200px;
  transform: translateY(-50%);
  border-radius: 10px;
}
</style>
