<template>
  <div>影院</div>
</template>

<script>
export default {
  beforeRouteLeave (to, from, next) {
    // 导航离开该组件的对应路由时调用
    // 可以访问组件实例 `this`
    alert('确定要离开吗')
    next()
  }
}
</script>

<style>

</style>
