<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
  }
  header {
    background: #eee;
    padding: 10px 20px;
  }
  header input {
    width: 100%;
    height: 40px;
  }
  li {
    padding: 10px;
    border-bottom: 1px solid;
  }
</style>
<body>
  <div class="app">
    <h1>{{title}}</h1>
    <ul>
      <li v-for="item in title">{{title}}</li>
    </ul>
    <h3>{{ count }} </h3>
    <button @click="count ++">+</button>
  </div>

  <script>
    let app = document.querySelector('.app')
  
    const vm = new Vue({
      el: '.app',
      data: {
        title: '标题',
        count: 0
      },
      // 创建阶段
      beforeCreate() { // 和vue相关的内容还不可用，可以展示跟vue内容无关的loading
        let app = document.querySelector('.app')
        console.log('实例创建之前', this.title, app.innerHTML)
      },
      created() { // 实例创建完成, vue的数据和方法可以使用
        let app = document.querySelector('.app')
        console.log('实例创建完成', this.title, app.innerHTML)
        this.test()
      },
      // 挂载阶段
      beforeMount() { // 挂载之前
        let app = document.querySelector('.app')
        console.log('挂载之前', this.title, app.innerHTML)
      },
      mounted() { // 挂载完成可以获取dom元素
        let app1 = document.querySelector('.app')
        console.log('vue渲染完成的app1', app1)
        console.log('vue渲染之前的app', app)
        // console.log('挂载完成', this.title, app.innerHTML)
      },
      // 更新阶段
      beforeUpdate() { // 数据更新后，页面更新之前
        let h3 = document.querySelector('h3')
        console.log('更新之前', h3.innerHTML)
      },
      updated() { // 数据更新后，页面更新完成，可以获取最新的dom元素
        let h3 = document.querySelector('h3')
        console.log('数据更新后', h3.innerHTML)
      },
      // 销毁阶段
      beforeDestroy() { // 销毁之前
        console.log('销毁之前')
      },
      destroyed() { // 销毁之后
        console.log('销毁之后')
      },
      methods: {
        test() {
          console.log('test')
        }
      }
    })
  </script>
</body>
</html>