<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
  <script src="./data.js"></script>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
  }
  header {
    background: #eee;
    padding: 10px 20px;
  }
  header input {
    width: 100%;
    height: 40px;
  }
  li {
    padding: 10px;
    border-bottom: 1px solid;
  }
</style>
<body>
  <div class="app">
    <header>
      <input type="text" v-model="searchText">
    </header>
    <ul>
      <li v-for="item in curList">
        <h3>{{ item.name }}</h3>
        <p>歌手: {{ item.ar }}</p>
        <p>专辑: {{ item.al.name }}</p>
      </li>
    </ul>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        list: [],
        searchText: ''
      },
      computed: {
        curList() {
          return this.list.filter(item => item.name.includes(this.searchText))
        }
      },
      // watch: {
      //   searchText() {
      //     this.curList = this.list.filter(item => item.name.includes(this.searchText))
      //   }
      // }
    })
  </script>
</body>
</html>