<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
  }
  header {
    background: #eee;
    padding: 10px 20px;
  }
  header input {
    width: 100%;
    height: 40px;
  }
  li {
    padding: 10px;
    border-bottom: 1px solid;
  }
</style>
<body>
  <div class="app">
    <div class="banner" ref="banner">
      <div v-for="item in banner">
        <img :src="item.imageUrl" alt="">
      </div>
    </div>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        banner: [],
      },
      // 生命周期
      created() {
        let xhr = new XMLHttpRequest()
        xhr.open('GET', 'https://zyxcl-music-api.vercel.app/banner')
        xhr.send()
        xhr.onreadystatechange = () => {
          if (xhr.readyState === 4 && xhr.status === 200) {
            this.banner = JSON.parse(xhr.responseText).banners
            console.log(this.banner)
          }
        }
      },
      mounted() {
        console.log('页面渲染完成')
        console.log(this.$refs.banner)
      }
    })
  </script>
</body>
</html>