.memo {
  height: 100%;
  overflow: auto;
  background: #eee;
}
.empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
    width: 120px;
    height: 30px;
    background: orange;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin-top: 20px;
  }
}
.item {
  padding: 20px;
  border-bottom: 1px solid #999;
}