<template>
  <div class="dialog">
    <div class="content">
      <div class="close" @click="hidePerson">x</div>
      <h2>{{ title }}</h2>
      <div class="row">姓名: <input type="text" v-model="form.name"></div>
      <div class="row">年龄: <input type="text" v-model="form.age"></div>
      <button @click="submit">{{ btnText }}</button>
    </div>
  </div>
</template>


<script>
export default {
  // 接收组件调用时传入的数据
  props: ['title', 'btnText', 'hidePerson', 'add'],
  data() {
    return {
      form: {
        name: '',
        age: ''
      }
    }
  },
  methods: {
    submit() {
      this.add(this.form)
      this.hidePerson()
    }
  }
}
</script>


<style lang="scss">

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .5);
}
.content {
  width: 300px;
  height: 300px;
  background: #ffffff;
  border-radius: 10px;
  padding: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
</style>