.hot {
  padding: 0 15px;
  img {
    vertical-align: middle;
    width: 100%;
  }
}
.film {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  display: flex;
  img {
    width: 66px;
  }
}
.info {
  flex: 1;
  overflow: hidden;
  padding: 0 10px;
}