<template>
  <van-form @submit="onSubmit">
    <van-field
      v-model="username"
      type="number"
      name="phone"
      label="手机号"
      placeholder="请输入手机号"
      :rules="[
        { required: true, message: '请输入手机号' },
        { pattern: /^1[3-9]\d{9}$/, message: '手机号格式错误' }
      ]"
    />
    <van-field
      v-model="password"
      type="password"
      name="password"
      label="密码"
      placeholder="请输入密码"
      :rules="[{ required: true, message: '请填写密码' }]"
    />
    <div style="margin: 16px">
      <van-button round block type="info" native-type="submit">提交</van-button>
    </div>
  </van-form>
</template>

<script>
import { loginPhone } from '@/api/login'

export default {
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    async onSubmit (values) {
      loginPhone(values)
        .then(res => {
          localStorage.setItem('token', res.token)
          localStorage.setItem('profile', JSON.stringify(res.profile))
          localStorage.setItem('account', JSON.stringify(res.account))
          res.cookie.split(';;').forEach(item => {
            document.cookie = item
          })
          this.$router.push('/')
        })
        .catch(e => {
          if (e.message) {
            this.$toast(e.message)
          } else {
            this.$toast(e)
          }
        })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
