<template>
  <div class="qrimg">
    <img :src="qrimg" alt="">
    <p>{{ qrStatus }}</p>
  </div>
</template>

<script>
import {
  qrKey,
  qrCreate,
  qrCheck
} from '@/api/login'
import QRCode from 'qrcode'

export default {
  data () {
    return {
      qrimg: '',
      qrurl: '',
      qrStatus: ''
    }
  },
  methods: {
    getQrStatus (unikey) {
      this.timer = setInterval(async () => {
        const res = await qrCheck(unikey)
        this.qrStatus = res.message
        if (res.code === 803) { // 扫码成功
          clearInterval(this.timer)
          res.cookie.split(';;').forEach(item => {
            document.cookie = item
          })
          this.$toast('登陆成功')
          this.$router.push('/')
        }
      }, 1000)
    }
  },
  async created () {
    const qrkeyRes = await qrKey() // 生成key
    const unikey = qrkeyRes.data.unikey
    const qrRes = await qrCreate(unikey, true) // 获取二维码
    // this.qrimg = qrRes.data.qrimg
    this.qrurl = qrRes.data.qrurl
    this.qrimg = await QRCode.toDataURL(qrRes.data.qrurl) // 调用第三方库生成二维码
    // 开始轮询
    this.getQrStatus(unikey)
  },
  beforeDestroy () {
    clearInterval(this.timer)
  }
}
</script>

<style lang="scss" scoped>
.qrimg {
  text-align: center;
  padding: 40px 0;
  img {
    width: 200px;
    height: 200px;
  }
}
</style>
