<template>
  <div class="hot">
    <dl v-for="item in list" :key="item.filmId" @click="goDetail(item.filmId)">
      <dt>
        <img :src="item.poster" alt="">
      </dt>
      <dd>
        <div class="info">
          <h3><b>{{ item.name }}</b><span>{{ item.item.name }}</span></h3>
          <p>评分: {{ item.grade }}</p>
          <p>
            主演:
            <span v-for="val in item.actors" :key="val.name">{{ val.name }}</span>
          </p>
          <p>{{ item.nation }} | {{ item.runtime }}分钟</p>
        </div>
        <button>购票</button>
      </dd>
    </dl>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      list: []
    }
  },
  methods: {
    goDetail (id) {
      // this.$router: 路由实例对象，可以跳转路由页面
      // this.$router.push('/detail') // 可以返回上一页
      // this.$router.replace('/detail') // 替换当前页面地址不可以返回上一页
      // 路由传参数：query方式
      // this.$router.push({
      //   path: '/detail',
      //   query: {
      //     user: 'zyx',
      //     time: Date.now(),
      //     id
      //   }
      // })

      // 路由传参数：动态路由方式，必须先配置动态路由
      // this.$router.push(`/detail/${id}`)
      this.$router.push({
        name: 'detail',
        params: {
          id: id
        },
        query: {
          user: 'zyx',
          time: Date.now()
        }
      })
    }
  },
  created () {
    axios.get('/mqq/hot').then(res => {
      this.list = res.data.data.films
    })
  }
}
</script>

<style lang="scss" scoped>
.hot {
  padding-left: 15px;
}
img {
  width: 100%;
}
dl {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
dt {
  width: 65px;
  height: 94px;
}
dd {
  flex: 1;
  overflow: hidden;
  padding: 0 15px;
  display: flex;
  align-items: center;
  button {
    width: 50px;
    height: 30px;
  }
}
.info {
  flex: 1;
  overflow: hidden;
  padding-right: 10px;
  h3 {
    color: #191a1b;
    font-size: 16px;
    height: 22px;
    line-height: 22px;
    font-weight: normal;
    b {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      vertical-align: middle;
      max-width: calc(100% - 20px);
    }
    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 9px;
      color: #fff;
      background-color: #d2d6dc;
      height: 14px;
      line-height: 14px;
      padding: 0 2px;
      border-radius: 2px;
    }
  }
  p {
    font-size: 13px;
    margin-top: 4px;
    color: #797d82;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    span {
      margin-right: 5px;
    }
  }
}
</style>
