<script setup>
import { reactive } from 'vue'

// 定义 vue 能够追踪的响应式对象或者数组
const person = reactive({
  name: '大明',
  age: 20,
  hobby: []
})
const hobby = reactive(['唱', '跳', 'rap', '篮球'])

const add = () => {
  person.age ++
}
</script>

<template>
  {{ person }}
  <h1>{{ person.name }}</h1>
  <input type="text" v-model="person.name">
  <p>年龄：{{ person.age }} <button @click="add">+</button></p>
  <ul>
    <li v-for="item in hobby" :key="item">
      <input v-model="person.hobby" type="checkbox" :value="item"> {{ item }}
    </li>
  </ul>
</template>

<style scoped>
body {
  background: red;
}
</style>
