<script setup>
import Test from './components/Test.vue'
import {
  ref,
  onBeforeMount, // 挂载前
  onMounted, // 挂载后
  onBeforeUpdate, // 页面更新前
  onUpdated, // 页面更新后
  onBeforeUnmount, // 销毁前
  onUnmounted // 销毁后
} from 'vue'

const inp = ref(null)
const span = ref(null)
const num = ref(0)

const add = () => {
  num.value ++
}

onBeforeMount(() => {
  console.log('onBeforeMount', inp.value)
})

onMounted(() => {
  console.log('onMounted11111', inp.value)
})

onMounted(() => {
  console.log('onMounted222222', inp.value)
})

onBeforeUpdate(() => {
  console.log('onBeforeUpdate', span.value.innerText)
})
onUpdated(() => {
  console.log('onUpdated', span.value.innerText)
})

</script>

<template>
  <input type="text" ref="inp">
  <div>
    <button @click="num--">-</button>
    <span ref="span">{{ num }}</span>
    <button @click="add">+</button>
  </div>
  <Test v-if="num >= 0" />
</template>

<style scoped>
body {
  background: red;
}
</style>
