<template>
  <h1>{{ person.name }}</h1>
  <input type="text" v-model="person.name">
  <p>年龄：{{ person.age }} <button @click="add">+</button></p>
</template>

<script>
import { reactive } from 'vue'
export default {
  // 选项式 api
  // data () {
  //   return {
  //     title: '标题'
  //   }
  // },
  // computed: {},
  // watch: {},
  // methods: {},
  // beforeCreate () {
  //   console.log('beforeCreate', this)
  // },
  // created () {
  //   console.log('created', this)
  // },
  // mounted () {
  //   console.log('mounted')
  // },
  // 组合式 api，在所有的生命周期之前执行，此函数中没有 this
  setup () {
    const person = reactive({
      name: '王小明',
      age: 100
    })

    const add = () => {
      person.age ++
    }

    // setup 中 return 的值会挂载到 this 上
    return {
      person,
      add
    }
  }
}
</script>

<style scoped>
body {
  background: red;
}
</style>
