<script setup>
import { reactive, ref, watch, watchEffect, computed, nextTick } from 'vue'

const person = reactive({
  name: '王老吉',
  age: 50,
  info: {
    address: {
      city: '北京'
    }
  }
})
const arr = reactive([
  {
    text: 'aaa'
  },
  {
    text: 'bbb'
  }
])
const firstName = ref('欧阳')
const lastName = ref('铁柱')
const age = ref(20)

watch(firstName, () => {
  console.log('firstName 改变了', firstName.value)
})

watch([age, lastName], () => {
  console.log('lastName', lastName.value)
  console.log('age', age.value)
})


// 监听对象的某个属性
watch(() => person.name, () => {
  console.log('person.name', person.name)
})

// 如果监听的是一个函数的返回值，默认不是深度监听，如果需要深度监听第三个参数传入 { deep: true }
watch(() => arr, () => {
  console.log('arr', arr)
}, { deep: true, immediate: true })

// watch 默认时深度监听
watch(person, () => {
  console.log('person', person)
}, { immediate: true })

const changeArr = () => {
  arr[0].text = 'ABC'
  person.info.address.city = 123
}

// 自动监听函数内使用的变量，变量改变执行函数
watchEffect(() => {
  console.log('watchEffect ===> person.name', person.name)
  console.log('watchEffect ===> person.age', person.age)
})

</script>

<template>
  <p>姓氏：{{ firstName }} <input type="text" v-model="firstName"></p>
  <p>名字：{{ lastName }} <input type="text" v-model="lastName"></p>
  <p>age：{{ age }} <input type="text" v-model="age"></p>
  <hr />
  <h3>{{ person }}</h3>
  <p>姓名：{{ person.name }} <input type="text" v-model="person.name"></p>
  <p>年龄：{{ person.age }} <input type="text" v-model="person.age"></p>
  <p>城市：{{ person.info.address.city }} <input type="text" v-model="person.info.address.city"></p>
  <button @click="changeArr">修改arr</button>
  {{ arr }}
</template>

<style scoped>
body {
  background: red;
}
</style>
