<script setup>
import { reactive, ref, nextTick } from 'vue'

// 使用 ref 定义基础类型的响应式数据，返回一个 ref对象
// 通过 ref 创建的变量在js中使用时需要通过 value 获取
let count = ref(0)
const flag = ref(true)
const str = ref('aaa')
const arr = reactive([111, 222])

const add = n => {
  count.value += n
}
const changeFlag = () => flag.value = !flag.value

const addArr = () => {
  arr.push(arr.length)

  // 等待页面更新完成执行此函数的内容
  nextTick(() => {
    console.log(document.querySelector('ul').children)
  })
}

</script>

<template>
  {{ flag }} <button @click="changeFlag">切换flag</button>
  <h2 v-if="flag">{{ str }}</h2>
  <input type="text" v-model="str">
  <button @click="count--">-</button> {{ count }} <button @click="add(1)">+</button>
  <hr />
  <button @click="addArr">添加arr数据</button>
  {{ arr }}
  <ul>
    <li v-for="item in arr" :key="item">{{ item }}</li>
  </ul>
</template>

<style scoped>
body {
  background: red;
}
</style>
