<script setup>
import { reactive, ref, watch, watchEffect, computed, nextTick, onMounted } from 'vue'

// 获取dom元素
const inp = ref(null)

onMounted(() => {
  console.log('页面挂载完成')
  console.log(inp.value)
})


</script>

<template>
  <!-- 获取dom元素 -->
  <input type="text" ref="inp">
</template>

<style scoped>
body {
  background: red;
}
</style>
