<script setup>
import axios from 'axios'
import { reactive, ref, isRef, unref, toRef, toRefs, readonly, watchEffect, watchPostEffect } from 'vue'
import Goods from './components/Goods.vue'

const person = reactive({
  name: '小明',
  age: 100
})
// const age = toRef(person, 'age')
// const name = toRef(person, 'name')
const { name, age } = toRefs(person)
const age1 = readonly(age) // 只读
console.log(age1.value)


const title = ref('苹果')
const price = ref(10)
const count = ref(4)
const banners = ref([])

const add = (n) => {
  count.value += n
}

const getBanners = async () => {
  const res = await axios.get('https://zyxcl-music-api.vercel.app/banner')
  banners.value = res.data.banners
}

getBanners()


const btn = ref(null)
// watchEffect(() => {
//   console.log('age', age.value)
//   if (btn.value) {
//     console.log(btn.value.innerText)
//   }
//   // 页面更新后执行函数
// }, { flush: 'post' })

watchPostEffect(() => {
  console.log('age', age.value)
  if (btn.value) {
    console.log(btn.value.innerText)
  }
})

</script>

<template>
  <h1>组件传值</h1>
  <Goods :title="title" :price="price" :count="count" @add="add" />
  <h3>age: {{ person.age }} <button @click="person.age ++">+</button></h3>
  <b ref="btn">{{ age }}</b>
  <button @click="age ++">+</button>
</template>
