<script setup>
import { reactive, ref, computed, nextTick } from 'vue'

const firstName = ref('欧阳')
const lastName = ref('铁柱')
const age = ref(20)

// 计算属性，返回一个ref对象，js中使用需要通过 value 属性
const info = computed(() => {
  return `我叫<b style="color: red">${firstName.value + lastName.value}</b>,今年${age.value}岁`
})
console.log(info.value)


</script>

<template>
  <p>姓氏：{{ firstName }} <input type="text" v-model="firstName"></p>
  <p>名字：{{ lastName }} <input type="text" v-model="lastName"></p>
  <p>age：{{ age }} <input type="text" v-model="age"></p>
  <div v-html="info"></div>
</template>

<style scoped>
body {
  background: red;
}
</style>
