<script setup>
import { reactive, computed, ref, isRef, unref, toRef, toRefs, readonly, watchEffect, watchPostEffect } from 'vue'

const arr = reactive([1, 2, 3, 4, 5, 6, 7, 8])
const newArr = computed(() => arr.filter(v => v % 2 === 0))

</script>

<template>
  <ul>
    <!-- vue2中 v-for 优先级比 v-if 高 -->
    <!-- vue3中 v-if 优先级比 v-for 高， v-if中不能使用 v-for 的变量，如果需要筛选改成计算属性 -->
    <!-- <li v-for="item in arr" :key="item" v-if="item % 2 === 0">{{ item }}</li> -->
    <li v-for="item in newArr" :key="item">{{ item }}</li>
  </ul>
</template>
