<template>
  <div>
    <img :src="info.img" alt="">
    <h2>{{ info.title }}</h2>
    <p>{{ info.price }}</p>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      info: {}
    }
  },
  created () {
    axios.get('/api/detail', {
      params: {
        id: this.$route.params.id
      }
    }).then(res => {
      if (res.data.code === 0) {
        this.info = res.data.values
      } else {
        alert(res.data.msg)
      }
    })
  }
}
</script>

<style>

</style>
