<template>
  <div class="home">
    <header>
      <input type="text" placeholder="搜索" readonly @click="$router.push('/search')">
    </header>
    <nav>
      <ul>
        <li><router-link to="/list/zh">综合</router-link></li>
        <li><router-link to="/list/xl">销量</router-link></li>
        <li><router-link to="/list/sx">上新</router-link></li>
        <li class="sort" @click="changeSort">
          价格
          <span>
            <svg :class="{ active: sortType === 1 }" t="1662370161456" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6044" width="10" height="10"><path d="M951.1626 819.412438 72.8374 819.412438 511.999488 204.586538Z" p-id="6045"></path></svg>
            <svg :class="{ active: sortType === 2 }" t="1662370179371" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6199" width="10" height="10"><path d="M511.999488 819.413462 72.8374 204.586538 951.1626 204.586538Z" p-id="6200"></path></svg>
          </span>
        </li>
      </ul>
      <div class="layout" @click="change">
        <svg v-if="isGrid" t="1662365927458" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3402" width="26" height="26"><path d="M64 480h352V128H64v352z m64-288h224v224H128V192zM64 928h352V576H64v352z m64-288h224v224H128v-224zM526.848 224H928a32 32 0 1 0 0-64H526.848a32 32 0 0 0 0 64zM928 608H526.848a32 32 0 1 0 0 64H928a32 32 0 1 0 0-64zM928 384H526.848a32 32 0 0 0 0 64H928a32 32 0 1 0 0-64zM928 832H526.848a32 32 0 1 0 0 64H928a32 32 0 1 0 0-64z" p-id="3403"></path></svg>
        <svg v-else t="1662365866282" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2426" width="26" height="26"><path d="M416 85.333333H138.666667a53.393333 53.393333 0 0 0-53.333334 53.333334v277.333333a53.393333 53.393333 0 0 0 53.333334 53.333333h277.333333a53.393333 53.393333 0 0 0 53.333333-53.333333V138.666667a53.393333 53.393333 0 0 0-53.333333-53.333334z m10.666667 330.666667a10.666667 10.666667 0 0 1-10.666667 10.666667H138.666667a10.666667 10.666667 0 0 1-10.666667-10.666667V138.666667a10.666667 10.666667 0 0 1 10.666667-10.666667h277.333333a10.666667 10.666667 0 0 1 10.666667 10.666667z m458.666666-330.666667H608a53.393333 53.393333 0 0 0-53.333333 53.333334v277.333333a53.393333 53.393333 0 0 0 53.333333 53.333333h277.333333a53.393333 53.393333 0 0 0 53.333334-53.333333V138.666667a53.393333 53.393333 0 0 0-53.333334-53.333334z m10.666667 330.666667a10.666667 10.666667 0 0 1-10.666667 10.666667H608a10.666667 10.666667 0 0 1-10.666667-10.666667V138.666667a10.666667 10.666667 0 0 1 10.666667-10.666667h277.333333a10.666667 10.666667 0 0 1 10.666667 10.666667zM416 554.666667H138.666667a53.393333 53.393333 0 0 0-53.333334 53.333333v277.333333a53.393333 53.393333 0 0 0 53.333334 53.333334h277.333333a53.393333 53.393333 0 0 0 53.333333-53.333334V608a53.393333 53.393333 0 0 0-53.333333-53.333333z m10.666667 330.666666a10.666667 10.666667 0 0 1-10.666667 10.666667H138.666667a10.666667 10.666667 0 0 1-10.666667-10.666667V608a10.666667 10.666667 0 0 1 10.666667-10.666667h277.333333a10.666667 10.666667 0 0 1 10.666667 10.666667z m458.666666-330.666666H608a53.393333 53.393333 0 0 0-53.333333 53.333333v277.333333a53.393333 53.393333 0 0 0 53.333333 53.333334h277.333333a53.393333 53.393333 0 0 0 53.333334-53.333334V608a53.393333 53.393333 0 0 0-53.333334-53.333333z m10.666667 330.666666a10.666667 10.666667 0 0 1-10.666667 10.666667H608a10.666667 10.666667 0 0 1-10.666667-10.666667V608a10.666667 10.666667 0 0 1 10.666667-10.666667h277.333333a10.666667 10.666667 0 0 1 10.666667 10.666667z" fill="#5C5C66" p-id="2427"></path></svg>
      </div>
    </nav>
    <main>
      <router-view />
    </main>
  </div>
</template>

<script>
export default {
  computed: {
    isGrid () {
      return this.$store.state.isGrid
    },
    sortType () {
      return this.$store.state.sortType
    }
  },
  methods: {
    change () {
      this.$store.commit('setGrid', !this.isGrid)
    },
    changeSort () {
      this.$store.commit('setSortType')
    }
  }
}
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  header {
    height: 40px;
    background: #333;
    padding: 6px 15px;
    input {
      width: 100%;
      height: 100%;
      outline: none;
    }
  }
  nav {
    height: 40px;
    display: flex;
    border-bottom: 1px solid #ccc;
    ul {
      flex: 1;
      display: flex;
    }
    li {
      flex: 1;
      text-align: center;
      line-height: 40px;
    }
    a {
      color: #333;
    }
    .router-link-exact-active {
      color: tomato;
    }
  }
}
.layout {
  width: 40px;
  border-left: 1px solid #ccc;
  padding: 7px;
}
main {
  flex: 1;
  overflow: hidden;
  background: #ccc;
}
.sort {
  display: flex;
  align-items: center;
  span {
    margin-left: 6px;
    display: flex;
    flex-direction: column;
  }
}
.active {
  fill: tomato;
}
</style>
