<template>
  <div :class="listClass">
    <dl v-for="item in curList" :key="item.item_id" @click="goDetail(item.item_id)">
      <dt>
        <img :src="item.img" alt="">
      </dt>
      <dd>
        <h3>{{ item.title }}</h3>
        <p class="sold">月销{{ item.sold }}笔</p>
        <p class="price">¥{{ item.price }}</p>
      </dd>
    </dl>
  </div>
</template>

<script>
import axios from 'axios'

// 定义路由参数和页面的接口的对应关系
const LIST_URL = {
  xl: '/api/xl',
  zh: '/api/zh',
  sx: '/api/sx'
}

export default {
  data () {
    return {
      list: []
    }
  },
  methods: {
    getList (url) {
      axios.get(url).then(res => {
        this.list = res.data.values.items
      })
    },
    goDetail (id) {
      console.log(id)
      this.$router.push({
        name: 'detail',
        params: { id }
      })
    }
  },
  watch: {
    // 监听路由
    $route: {
      handler () {
        const url = LIST_URL[this.$route.params.id]
        if (url) {
          this.getList(url)
        } else {
          this.$router.push('/404')
        }
      },
      immediate: true
    }
  },
  computed: {
    listClass () {
      return this.$store.state.isGrid ? 'grid' : 'list'
    },
    sortType () {
      return this.$store.state.sortType
    },
    curList () {
      // 根据仓库中的类型排序
      if (this.sortType === 0) return this.list
      const list = [...this.list]
      if (this.sortType === 1) {
        list.sort((a, b) => a.price - b.price)
      } else {
        list.sort((a, b) => b.price - a.price)
      }
      return list
    }
  }
}
</script>

<style lang="scss" scoped>
.list {
  height: 100%;
  overflow: auto;
  dl {
    display: flex;
    background: #fff;
    height: 122px;
  }
  dt {
    width: 120px;
    height: 120px;
  }
  dd {
    flex: 1;
    overflow: hidden;
    margin-left: 10px;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px 10px 0;
  }
  .sold {
    margin-bottom: 20px;
  }
}
.grid {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
  dl {
    width: calc((100% - 5px) / 2);
    margin-top: 5px;
    background: #fff;
  }
  dd {
    padding: 8px;
  }
  .sold {
    float: right;
    line-height: 22px;
  }
  h3 {
    margin-bottom: 20px;
  }
}
dl {
  h3 {
    font-size: 16px;
    font-weight: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
  }
}
.sold {
  color: #999;
  font-size: 12px;
}
.price {
  color: tomato;
}

</style>
