<template>
  <div class="hot">
    <dl v-for="item in list" :key="item.filmId">
      <dt>
        <img :src="item.poster" alt="">
      </dt>
      <dd>
        <div class="info">
          <h3>{{ item.name }} <span>{{ item.item.name }}</span></h3>
          <p>上映日期: {{ item.premiereAt }}</p>
          <p>
            主演:
            <span v-for="(val, index) in item.actors" :key="index">{{ val.name }}</span>
          </p>
          <p>{{ item.nation }} | {{ item.runtime }}分钟</p>
        </div>
        <button v-if="item.isPresale">预购</button>
      </dd>
    </dl>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      list: []
    }
  },
  created () {
    axios.get('/mqq/coming').then(res => {
      this.list = res.data.data.films
    })
  }
}
</script>

<style lang="scss" scoped>
.hot {
  padding-left: 15px;
}
img {
  width: 100%;
}
dl {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
dt {
  width: 65px;
  height: 94px;
}
dd {
  flex: 1;
  overflow: hidden;
  padding: 0 15px;
  display: flex;
  align-items: center;
  button {
    width: 50px;
    height: 30px;
  }
}
.info {
  flex: 1;
  overflow: hidden;
  padding-right: 10px;
  h3 {
    color: #191a1b;
    font-size: 16px;
    height: 22px;
    line-height: 22px;
    font-weight: normal;
  }
  p {
    font-size: 13px;
    margin-top: 4px;
    color: #797d82;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    span {
      margin-right: 5px;
    }
  }
}
</style>
