.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
  }
  footer {
    height: 50px;
    border-top: 1px solid #ccc;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      line-height: 50px;
    }
  }
  :global {
    // 在css module 中定义全局样式
    // :global 内定义的类名不会被编译
    .active {
      background: orange;
    }
  }
}
