<template>
  <div>
    <h1>first组件</h1>
    <form action="">
      <div>
        <label for="">姓名</label><input type="text" v-model="form.name">
      </div>
      <div>
        <label for="">年龄</label><input type="text" v-model="form.age">
      </div>
      <div>
        <label for="">爱好</label><input type="text" v-model="form.hobby">
      </div>
      <div>
        <label for="">性别</label><input type="text" v-model="form.sex">
      </div>
      <div>
        <label for="">简介</label><input type="text" v-model="form.desc">
      </div>
    </form>
    {{ form }}
  </div>
</template>

<script>
export default {
  data () {
    return {
      form: {
        name: '',
        age: '',
        sex: '',
        hobby: '',
        desc: ''
      }
    }
  },
  created() {
    console.log('first组件创建成功')
  },
  beforeDestroy() {
    console.log('first组件即将销毁')
  }
}
</script>

<style>

</style>