<template>
  <div>
    <h1>Second组件</h1>
    <button @click="count --">-</button>
    {{ count }}
    <button @click="count ++">+</button>
    <table border="1" width="500">
      <tr>
        <th>导航1</th>
        <th>导航2</th>
        <th>导航3</th>
        <th>导航4</th>
        <th>导航5</th>
        <th>导航6</th>
      </tr>
      <tr>
        <td>内容1</td>
        <td>内容2</td>
        <td>内容3</td>
        <td>内容4</td>
        <td>内容5</td>
        <td>内容6</td>
      </tr>
      <tr>
        <td>内容1</td>
        <td>内容2</td>
        <td>内容3</td>
        <td>内容4</td>
        <td>内容5</td>
        <td>内容6</td>
      </tr>
      <tr>
        <td>内容1</td>
        <td>内容2</td>
        <td>内容3</td>
        <td>内容4</td>
        <td>内容5</td>
        <td>内容6</td>
      </tr>
      <tr>
        <td>内容1</td>
        <td>内容2</td>
        <td>内容3</td>
        <td>内容4</td>
        <td>内容5</td>
        <td>内容6</td>
      </tr>
      <tr>
        <td>内容1</td>
        <td>内容2</td>
        <td>内容3</td>
        <td>内容4</td>
        <td>内容5</td>
        <td>内容6</td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      count: 0
    }
  },
  created() {
    console.log('second组件创建成功')
  },
  beforeDestroy() {
    console.log('second组件即将销毁')
  }
}
</script>

<style>

</style>