<template>
  <div>
    <h1>third组件</h1>
    <p>定时器: {{ count }}</p>
    <ul>
      <li>列表1</li>
      <li>列表2</li>
      <li>列表3</li>
      <li>列表4</li>
      <li>列表5</li>
      <li>列表6</li>
      <li>列表7</li>
      <li>列表8</li>
      <li>列表9</li>
      <li>列表10</li>
      <li>列表11</li>
      <li>列表12</li>
      <li>列表13</li>
      <li>列表14</li>
      <li>列表15</li>
      <li>列表16</li>
      <li>列表17</li>
      <li>列表18</li>
      <li>列表19</li>
      <li>列表20</li>
      <li>列表21</li>
      <li>列表22</li>
      <li>列表23</li>
      <li>列表24</li>
      <li>列表25</li>
      <li>列表26</li>
      <li>列表27</li>
      <li>列表28</li>
      <li>列表29</li>
      <li>列表30</li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      count: 0
    }
  },
  created() {
    console.log('third组件创建成功')

    // this.handleClick = () => {
    //   console.log('点击了document')
    // }
    // document.addEventListener('click', this.handleClick)
  },
  beforeDestroy() {
    console.log('third组件即将销毁')
    // 清除定时器和异步任务
    clearInterval(this.timer)
    // document.removeEventListener('click', this.handleClick)
  },

  // keep-alive包裹的组件专属的生命周期
  activated() {
    console.log('third组件显示出来了')
    this.timer = setInterval(() => {
      this.count ++
      console.log(this.count)
    }, 1000)
  },
  deactivated() {
    console.log('third组件隐藏了')
    clearInterval(this.timer)
  }
}
</script>

<style scoped>
li {
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid;
}
</style>