.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .5);
}
.content {
  background: #fff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  min-height: 300px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}
.header {
  height: 50px;
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
.footer {
  height: 50px;
  border-top: 1px solid #ccc;
  padding: 5px 10px;
}
.main {
  flex: 1;
  padding: 20px;
}
.close {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
  top: 15px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}