<script setup>
// 获取父组件传入的参数
// const props = defineProps(['title', 'price', 'count'])
const { title, price, count } = defineProps(['title', 'price', 'count'])

// 获取父组件传入的自定义事件
const emit = defineEmits(['add'])

const sub = () => {
  emit('add', -1)
}

</script>

<template>
  <div class="goods">
    <h2>{{ title }}</h2>
    <p>价格: ¥{{ price }}</p>
    <p>
      <button @click="sub">-</button>
      {{ count }}
      <button @click="$emit('add', 2)">+</button>
    </p>
  </div>
</template>

<style>
  .goods {
    border: 1px solid;
  }
</style>
