<script setup>
import {
  ref,
  onBeforeUnmount, // 销毁前
  onUnmounted // 销毁后
} from 'vue'

const num = ref(0)

const timer = setInterval(() => {
  num.value ++
  console.log(num.value)
}, 1000)

onBeforeUnmount(() => {
  clearInterval(timer)
  console.log('onBeforeUnmount')
})
onUnmounted(() => {
  console.log('onUnmounted')
})
  
</script>
  
<template>
  num: {{ num }}
</template>
