<template>
  <transition
    enter-active-class="animate__animated animate__fadeIn"
    leave-active-class="animate__animated animate__fadeOut"
  >
    <div class="cartlist" v-show="visible" @click.self="$emit('update:visible', false)">
      <transition
        enter-active-class="animate__animated animate__slideInUp"
        leave-active-class="animate__animated animate__slideOutDown"
      >
        <div v-show="visible" class="content">
          <div class="title">
            <b>购物车</b>
            <span @click="$emit('clear')">清空</span>
          </div>
          <div class="list">
            <div class="item" v-for="item in list" :key="item.name">
              <div class="food">{{ item.name }}</div>
              <div class="price">¥{{ item.price }}</div>
              <div class="btns">
                <button class="iconfont icon-jianhao" @click="$emit('change', item, -1)"></button>
                <span>{{ item.count }}</span>
                <button class="iconfont icon-jiahao2fill" @click="$emit('change', item, 1)"></button>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </transition>
</template>

<script>
export default {
  props: ['visible', 'list'],
  data () {
    return {
      showCon: false
    }
  }
}
</script>

<style lang="scss" scoped>
.cartlist {
  position: fixed;
  top: 0;
  bottom: 48px;
  left: 0;
  right: 0;
  background: rgba($color: #000000, $alpha: .4);
  overflow: hidden;
}
.content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 300px;
  display: flex;
  flex-direction: column;
}
.title {
  background: #f3f5f7;
  height: 40px;
  line-height: 40px;
  padding: 0 18px;
  display: flex;
  justify-content: space-between;
  b {
    color: #333;
    font-size: 14px;
    font-weight: normal;
  }
  span {
    color: #00a0dc;
    font-size: 12px;
  }
}
.list {
  flex: 1;
  overflow: auto;
  background: #ffffff;
}
.item {
  padding: 12px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.food {
  color: #333;
  font-size: 14px;
  line-height: 24px;
}
.price {
  flex: 1;
  color: #f01414;
  font-size: 14px;
  text-align: right;
  margin-right: 15px;
}
.btns {
  button {
    width: 20px;
    height: 20px;
    border: none;
    font-size: 20px;
    background: none;
    color: #00a0dc;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    text-align: center;
  }
}
</style>
