<template>
  <div class="dialog" v-show="visible">
    <div class="content">
      <h2 v-if="title">{{ title }}</h2>
      <p v-if="desc">{{ desc }}</p>
      <div class="btn">
        <button @click="$emit('update:visible', false)">取消</button>
        <button @click="$emit('ok')">确定</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['title', 'desc', 'visible']
}
</script>

<style lang="scss" scoped>
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba($color: #000000, $alpha: .5);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 5px;
  width: 270px;
  overflow: hidden;
  text-align: center;
  padding-top: 10px;
  h2 {
    font-size: 16px;
    color: #666;
    padding-top: 10px;
  }
  p {
    font-size: 14px;
    color: #999;
    padding: 10px 0 20px;
  }
}
.btn {
  height: 40px;
  border-top: 1px solid #eee;
  display: flex;
  button {
    flex: 1;
    background: none;
    border: none;
    color: #999;
    &:last-of-type {
      border-left: 1px solid #eee;
      color: #fc9153;
    }
  }
}
</style>
