<template>
  <footer>
    <div class="left">
      <div class="cart-btn" @click="clickCart">
        <div class="cart" :class="{ active: total.count > 0 }">
          <i class="iconfont icon-gouwucheman"></i>
        </div>
        <span v-if="total.count > 0">{{ total.count }}</span>
      </div>
      <div class="total" :class="{ active: total.price > 0 }">¥{{ total.price }}</div>
      <div class="desc">还需配送费4元</div>
    </div>
    <div class="pay" :class="{ active: total.price >= 20 }" @click="pay">
      <span v-if="total.price >= 20">去结算</span>
      <span v-else-if="total.price === 0">¥20元起送</span>
      <span v-else>差¥{{ 20 - total.price }}元起送</span>
    </div>
  </footer>
</template>

<script>
export default {
  props: ['total'],
  methods: {
    clickCart () {
      if (this.total.count > 0) {
        this.$emit('click')
      }
    },
    pay () {
      if (this.total.price >= 20) {
        this.$emit('pay')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
footer {
  height: 48px;
  background: #07111b;
  display: flex;
}
.left {
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.cart-btn {
  width: 56px;
  height: 56px;
  background: #07111b;
  margin: 0 12px;
  padding: 6px;
  position: relative;
  top: -8px;
  border-radius: 50%;
  span {
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    background: linear-gradient(90deg,#fc9153,#f01414);
    font-size: 12px;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
  }
}
.cart {
  background: #333;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
  i {
    color: #999;
    font-size: 24px;
  }
  &.active {
    background: #00a0dc;
    i {
      color: #ffffff;
    }
  }
}
.total {
  color: #999;
  font-size: 16px;
  font-weight: 700;
  margin-top: 12px;
  padding-right: 12px;
  border-right: 1px solid #ffffff1a;
  line-height: 24px;
  &.active {
    color: #ffffff;
  }
}
.desc {
  font-size: 10px;
  color: #999;
  margin-left: 12px;
  margin-top: 12px;
  line-height: 24px;
}
.pay {
  width: 105px;
  background: #333;
  color: #999;
  font-size: 12px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  &.active {
    background: #00b43c;
    color: #fff;
  }
}
</style>
