<template>
  <div class="goods-wrap">
    <div class="list">
      <div class="menu">
        <p
          v-for="(item, index) in list"
          :key="item.name"
          :class="{ active: curIndex === index }"
          @click="curIndex = index"
        >{{ item.name }}</p>
      </div>
      <div class="con">
        <h4>{{ list[curIndex] && list[curIndex].name }}</h4>
        <dl v-for="item in curFoods" :key="item.name">
          <dt>
            <img :src="item.image" alt="">
          </dt>
          <dd>
            <div class="name">{{ item.name }}</div>
            <p>{{ item.description }}</p>
            <p>月售{{ item.sellCount }}，好评率{{item.rating}}%</p>
            <p>¥{{ item.price }}</p>
            <div class="btns">
              <template v-if="item.count > 0">
                <button class="iconfont icon-jianhao" @click="changeCount(item, -1)"></button>
                <span>{{ item.count }}</span>
              </template>
              <button class="iconfont icon-jiahao2fill" @click="changeCount(item, 1)"></button>
            </div>
          </dd>
        </dl>
      </div>
    </div>
    <CartList
      :visible.sync="showCartList"
      :list="cartList"
      @change="changeCount"
      @clear="clear"
    />
    <GoodsFooter
      :total="total"
      @click="changeShowCartList"
      @pay="showTip = true"
    />
    <Dialog
      :visible.sync="showTip"
      title="支付"
      :desc="`您需要支付${total.price}元`"
      @ok="paySuccess"
    />
  </div>
</template>

<script>
import GoodsFooter from './GoodsFooter.vue'
import CartList from './CartList.vue'
import Dialog from './Dialog.vue'

import axios from 'axios'
export default {
  data () {
    return {
      list: [], // 所有商品数据
      curIndex: 0,
      showCartList: false,
      cartList: [], // 购物车商品数据
      showTip: false // 展示弹窗
    }
  },
  methods: {
    changeShowCartList () {
      this.showCartList = !this.showCartList
    },
    changeCount (food, num) {
      food.count += num
      if (!this.cartList.includes(food)) {
        this.cartList.push(food)
      }
      if (food.count === 0) {
        const index = this.cartList.indexOf(food)
        this.cartList.splice(index, 1)
      }
    },
    clear () {
      this.cartList.forEach(food => {
        food.count = 0
      })
      this.cartList = []
    },
    paySuccess () {
      alert('支付成功')
      this.showTip = false
    }
  },
  watch: {
    cartList: {
      handler () {
        if (this.cartList.length === 0) {
          this.showCartList = false
        }
      },
      deep: true
    }
  },
  computed: {
    curFoods () {
      return this.list[this.curIndex] ? this.list[this.curIndex].foods : []
    },
    total () {
      const total = {
        count: 0, // 总数
        price: 0 // 总价
      }
      this.list.forEach(item => {
        item.foods.forEach(food => {
          total.count += food.count
          total.price += food.count * food.price
        })
      })
      return total
    }
  },
  created () {
    axios.get('/mqq/sell/api/goods').then(res => {
      this.list = res.data.data.map(item => ({
        ...item,
        foods: item.foods.map(v => ({ ...v, count: 0 }))
      }))
    })
  },
  components: {
    GoodsFooter,
    CartList,
    Dialog
  },
  beforeDestroy () {
    console.log('goods组件销毁成功')
  }
}
</script>

<style lang="scss" scoped>
.goods-wrap {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.list {
  flex: 1;
  overflow: hidden;
  display: flex;
}
.menu {
  width: 100px;
  background: #f3f5f7;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  p {
    height: 56px;
    font-size: 12px;
    text-align: center;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .active {
    background: #fff;
  }
}
.con {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  h4 {
    background: #f3f5f7;
    border-left: 2px solid #d9dde1;
    color: #666;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    padding-left: 14px;
  }
  dl {
    display: flex;
    padding: 20px;
  }
  dt {
    width: 58px;
    margin-right: 16px;
    img {
      width: 100%;
    }
  }
  dd {
    flex: 1;
    position: relative;
    p {
      font-size: 12px;
    }
    .name {
      font-size: 14px;
    }
  }
  .btns {
    position: absolute;
    bottom: -5px;
    right: 0;
    button {
      width: 20px;
      height: 20px;
      border: none;
      font-size: 20px;
      background: none;
      color: #00a0dc;
      vertical-align: middle;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      text-align: center;
    }
  }
}
</style>
