<template>
  <nav>
    <span
      v-for="(item, index) in navlist"
      :key="item.text"
      :class="{ active: value === item.name }"
      @click="changeTab(item.name, index)"
    >{{ item.text }}</span>
    <div class="line" :style="{ transform: `translateX(${curIndex * 100}%)` }"></div>
  </nav>
</template>

<script>
export default {
  props: ['value'],
  data () {
    return {
      navlist: [
        {
          text: '商品',
          name: 'Goods'
        },
        {
          text: '评论',
          name: 'Comment'
        },
        {
          text: '商家',
          name: 'Merchant'
        }
      ],
      curIndex: 0
    }
  },
  methods: {
    changeTab (name, index) {
      this.$emit('input', name)
      this.curIndex = index
    }
  }
}
</script>

<style lang="scss" scoped>
nav {
  height: 36px;
  border-bottom: 1px solid #eee;
  display: flex;
  position: relative;
  span {
    flex: 1;
    text-align: center;
    line-height: 36px;
  }
  .active {
    color: red;
  }
}
.line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% / 3);
  height: 2px;
  background: red;
  transition: transform 1s linear;
}
</style>
