<template>
  <div class="home">
    <main>
      <div class="menu">
        <p
          v-for="(item, index) in allList"
          :key="item.id"
          :class="{ active: curIndex === index }"
          @click="curIndex = index"
        >{{ item.title }}</p>
      </div>
      <div class="content">
        <dl
          v-for="item in curList"
          :key="item.name"
          @click="changeSelected(item.name)"
          :class="{ active: item.checked }"
        >
          <dt :style="{ backgroundImage: `url(${item.imgUrl})` }"></dt>
          <dd>{{ item.name }}</dd>
        </dl>
      </div>
    </main>
    <Footer v-if="selected.length > 0" />
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
import Footer from '@/components/Footer.vue'

export default {
  data () {
    return {
      curIndex: 0
    }
  },
  computed: {
    ...mapState(['allList', 'selected']),
    curList () {
      return this.allList[this.curIndex] ? this.allList[this.curIndex].child : []
    }
  },
  methods: {
    ...mapMutations(['changeSelected']),
    ...mapActions(['getList'])
  },
  created () {
    if (this.allList.length === 0) {
      this.getList()
    }
  },
  components: {
    Footer
  }
}
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.menu {
  width: 100px;
  height: 100%;
  background: #ddd;
  line-height: 40px;
  text-align: center;
  .active {
    background: #fff;
  }
}
.content {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  dl {
    width: 25%;
    margin-left: calc(25% / 4);
    margin-top: 20px;
    dt {
      padding-top: 100%;
      background: no-repeat center;
      background-size: cover;
      border-radius: 6px;
      border: 1px solid transparent;
    }
    dd {
      text-align: center;
      line-height: 30px;
      font-size: 12px;
    }
  }
  .active {
    dt {
      border: 1px solid tomato;
    }
    dd {
      color: tomato;
    }
  }
}
</style>
