<template>
  <div class="list">
    <header>
      <svg @click="$router.back()" t="1662603211686" class="back" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2349" width="26" height="26"><path d="M532.526499 904.817574L139.506311 511.797385 532.526499 118.777197c12.258185-12.258185 12.432147-32.892131-0.187265-45.51052-12.707416-12.707416-32.995485-12.703323-45.511543-0.187265L75.166957 484.739123c-7.120165 7.120165-10.163477 17.065677-8.990768 26.624381-1.500167 9.755178 1.5104 20.010753 8.990768 27.491121l411.660734 411.660734c12.258185 12.258185 32.892131 12.432147 45.511543-0.187265 12.707416-12.707416 12.7023-32.995485 0.187265-45.51052z" p-id="2350"></path></svg>
      <span>食物健康测评</span>
    </header>
    <nav>
      <p
        v-for="(item, index) in navlist"
        :key="item.text"
        :class="{ active: curIndex === index }"
        @click="curIndex = index"
      >
        <b>{{ item.list.length }}</b>
        <span>{{ item.text }}</span>
      </p>
    </nav>
    <main>
      <div class="tip" :style="{ color: navlist[curIndex].color }">{{ navlist[curIndex].tip }}</div>
      <div
        class="item"
        v-for="item in navlist[curIndex].list"
        :key="item.name"
      >
        <div class="top">
          <img :src="item.imgUrl" alt="">
          <b>{{ item.name }}</b>
          <span>升糖指数:{{ item.glycemicIndex }}</span>
        </div>
        <div class="desc">{{ item.content }}</div>
      </div>
    </main>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data () {
    return {
      navlist: [
        {
          text: '建议少吃',
          tip: '以下食物升糖指数较高，建议少吃',
          color: 'tomato',
          min: 60,
          max: 100,
          list: []
        },
        {
          text: '适量食用',
          tip: '以下食物升糖指数适中，建议适量食用',
          color: 'orange',
          min: 30,
          max: 60,
          list: []
        },
        {
          text: '放心食用',
          tip: '以下食物升糖指数较低，可以放心食用',
          color: 'green',
          min: 0,
          max: 30,
          list: []
        }
      ],
      curIndex: 0
    }
  },
  computed: {
    ...mapState(['selected'])
  },
  watch: {
    selected: {
      handler () {
        this.navlist.forEach(item => {
          item.list = this.selected.filter(v => v.glycemicIndex >= item.min && v.glycemicIndex < item.max)
        })
      },
      deep: true,
      immediate: true
    }
  }
}
</script>

<style lang="scss" scoped>
.list {
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  span {
    margin-left: 16px;
  }
}
nav {
  height: 80px;
  display: flex;
  p {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
  }
  .active {
    opacity: 1;
  }
}
main {
  flex: 1;
  overflow: auto;
  background: #ddd;
  padding: 0 15px;
}
.item {
  background: #fff;
  margin-bottom: 10px;
  padding: 20px;
  .top {
    display: flex;
    margin-bottom: 20px;
    img {
      width: 40px;
    }
    b {
      flex: 1;
      margin-left: 10px;
    }
    span {
      font-weight: bold;
    }
  }
}
.tip {
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
}
</style>
