* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f5f5f5;
}
img {
  vertical-align: middle;
}
.wrap {
  margin-top: 100px;
  margin-left: 100px;
  width: 400px;
  position: relative;
}
.small {
  width: 400px;
  height: 400px;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    position: relative;
  }
  img {
    width: 100%;
  }
  span {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba($color: #000000, $alpha: .5);
    cursor: move;
  }
}
nav {
  display: flex;
  margin-top: 10px;
  p {
    flex: 1;
    border: 1px solid #999;
    margin-right: 5px;
    &:last-of-type {
      margin-right: 0;
    }
    &.active {
      border-color: tomato;
    }
  }
  img {
    width: 100%;
  }
}
.big {
  position: absolute;
  right: -410px;
  top: 0;
  width: 400px;
  height: 400px;
  border: 1px solid #999;
  overflow: hidden;
  img {
    width: calc(398px * 4);
    position: absolute;
  }
}