* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f5f5f5;
}
.app {
  padding: 20px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font: bold 48pt "Trebuchet MS";
  }
  .desc {
    font-size: 20px;
    margin: 40px 20px;
  }
}
.tag-wrap {
  width: 80%;
  min-height: 60px;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #ccc inset;
  padding: 10px;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  input {
    border: none;
    outline: none;
    height: 40px;
    background: none;
  }
}
.tag {
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0 10px 0 40px;
  color: #fff;
  position: relative;
  user-select: none;
  span {
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 18px;
    margin-top: -6px;
    line-height: 12px;
    cursor: pointer;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0;
    height: 20px;
    border: 10px solid #fafafa;
    border-right-color: transparent;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 18px;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    box-shadow: inset 1px 1px 0 #ccc;
    border-radius: 50%;
    background: #fafafa;
  }
  &:hover {
    span {
      display: block;
    }
    &::after {
      display: none;
    }
  }
}
.tagcolor {
  span {
    margin-right: 6px;
  }
  i {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 6px;
    cursor: pointer;
  }
}