@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1661481457063') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwucheman:before {
  content: "\344b";
}

.icon-jiahao2fill:before {
  content: "\e728";
}

.icon-gengduo:before {
  content: "\e620";
}

.icon-jianhao:before {
  content: "\e656";
}

