<template>
  <div v-if="visible" class="dialog" @click.self="$emit('close')">
    <div class="dialog-content">
      <!-- 具名插槽 -->
      <slot name="header">
        <div class="header">
          <h3>{{ title }}</h3>
          <svg  @click="$emit('close')" class="close" viewBox="64 64 896 896" focusable="false" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 00203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg>
        </div>
      </slot>
      
      <div class="center">
        <!-- 插槽：组件调用时双标签内的元素会展示到插槽的位置 -->
        <slot>
          <p>我是插槽的默认值</p>
        </slot>
      </div>

      <slot name="footer">
        <div class="footer">
          <Button @click="$emit('cancel')">{{ cancelText }}</Button>
          <Button btnType="primary" @click="$emit('ok')">{{ okText }}</Button>
        </div>
      </slot>
    </div>
  </div>
</template>

<script>
import Button from './Button.vue'

export default {
  // props: ['visible']
  props: {
    visible: Boolean, // 校验参数的类型
    title: String,
    okText: {
      type: String, // 校验参数的类型
      default: 'ok' // 参数默认值
    },
    cancelText: {
      type: String,
      default: 'cancel'
    }
  },
  components: {
    Button
  }
}
</script>

<style lang="scss" scoped>
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba($color: #000000, $alpha: 0.4);
}
.dialog-content {
  background: #fff;
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  width: 400px;
}
.header {
  height: 50px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .close {
    cursor: pointer;
  }
}
.center {
  padding: 20px;
  border-top: 1px solid rgba(0,0,0,.06);
  border-bottom: 1px solid rgba(0,0,0,.06);
}
.footer {
  padding: 5px 12px;
  display: flex;
  justify-content: flex-end;
}
</style>