<template>
  <div class="test">
    <slot name="header" :count="count" :price="price"></slot>
    <h2>插槽</h2>
    <p>价格: ¥{{ price }}</p>
    <p>
      <button @click="count --">-</button>
      {{ count }}
      <button @click="count ++">+</button>
    </p>
    <slot :count="count" :price="price"></slot>
  </div>
</template>

<script>
export default {
  data() {
    return {
      price: 10,
      count: 1
    }
  }
}
</script>

<style lang="scss" scoped>
.test {
  border: 5px solid salmon;
}
</style>