<script setup>
import { reactive, watchEffect } from 'vue';
const props = defineProps(['todoLen', 'curType', 'doneLen'])

const emit = defineEmits(['clear', 'changeType'])
const btns = reactive([
  {
    text: '未完成',
    type: false
  },
  {
    text: '已完成',
    type: true
  }
])

watchEffect(() => {
  if (props.todoLen === 0 || props.doneLen === 0) {
    emit('changeType', 'all')
  }
})
</script>

<template>
  <footer>
    <div class="num">{{ props.todoLen }} 待完成</div>
    <div class="btns">
      <button
        :class="{ active: props.curType === 'all' }"
        @click="emit('changeType', 'all')"
      >全部</button>
      <template v-if="props.todoLen !== 0 && props.doneLen !== 0">
        <button
          v-for="item in btns"
          :key="item.text"
          :class="{ active: props.curType === item.type }"
          @click="emit('changeType', item.type)"
        >{{ item.text }}</button>
      </template>
    </div>
    <button v-if="props.doneLen > 0" @click="emit('clear')">清除已完成</button>
  </footer>
</template>

<style lang='scss' scoped>
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.btns button {
  margin: 0 6px;
}
button {
  padding: 3px 6px;
  border-radius: 5px;
}
button:hover, .active {
  background: #fe7345;
  color: #fff;
}
</style>
