<template>
  <header>
    <div class="img-wrapper">
      <img src="https://www.todolist.cn/img/note.75134fb0.svg" alt="Note">
    </div>
    <div class="title">To-Do List</div>
  </header>
</template>

<style lang='scss' scoped>
header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-wrapper {
  width: 80px;
  margin-right: 10px;
  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.title {
  transform: rotate(3deg);
  font-size: 21px;
  padding: 0.25em 0.8em 0.15em;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  color: #fff;
  background: #fe7345;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: mqqfont;
}
</style>
