<script setup>
const emit = defineEmits(['change', 'remove']) // 接收父组件传入的自定义事件
const { list } = defineProps(['list']) // 接收父组件传入的数据

</script>

<template>
  <ul>
    <li
      v-for="item in list"
      :key="item.id"
      :class="{ active: item.checked }"
      @click="emit('change', item.id)"
    >
      <svg v-if="item.checked" t="1663208406727" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4405" width="20" height="20"><path d="M892.064 261.888a31.936 31.936 0 0 0-45.216 1.472L421.664 717.248l-220.448-185.216a32 32 0 1 0-41.152 48.992l243.648 204.704a31.872 31.872 0 0 0 20.576 7.488 31.808 31.808 0 0 0 23.36-10.112L893.536 307.136a32 32 0 0 0-1.472-45.248z" p-id="4406"></path></svg>
      <svg v-else t="1663208209605" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2373" width="20" height="20"><path d="M768 128H256c-70.4 0-128 57.6-128 128v512c0 70.4 57.6 128 128 128h512c70.4 0 128-57.6 128-128V256c0-70.4-57.6-128-128-128z m64 640c0 35.2-28.8 64-64 64H256c-35.2 0-64-28.8-64-64V256c0-35.2 28.8-64 64-64h512c35.2 0 64 28.8 64 64v512z" p-id="2374"></path></svg>
      <p>
        <s v-if="item.checked">{{ item.text }}</s>
        <span v-else>{{ item.text }}</span>
      </p>
      <svg @click.stop="emit('remove', item.id)" t="1663208286663" class="close" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3493" width="20" height="20"><path d="M576 512l277.333333 277.333333-64 64-277.333333-277.333333L234.666667 853.333333 170.666667 789.333333l277.333333-277.333333L170.666667 234.666667 234.666667 170.666667l277.333333 277.333333L789.333333 170.666667 853.333333 234.666667 576 512z" fill="#444444" p-id="3494"></path></svg>
    </li>
  </ul>
</template>

<style lang='scss' scoped>
ul {
  margin: 30px 0 40px;
}
li {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 10px;
  border-radius: 10px;
  p {
    flex: 1;
    text-align: left;
    margin-left: 10px;
  }
  &.active {
    background: #fe7345;
    color: #fff;
    svg {
      fill: #fff;
    }
    .close path {
      fill: #fff !important;
    }
  }
}
</style>
