<template>
  <div id="app">
    <nav>
      <router-link to="/">页面1</router-link> |
      <router-link to="/about">页面2</router-link> |
      <router-link to="/mixins">页面3</router-link>
    </nav>
    <main>
      <router-view/>
    </main>
  </div>
</template>

<style lang="scss">

nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
main {
  border: 5px solid #ccc;
  min-height: 600px;
}
</style>
