<template>
  <div>
    <el-tabs v-model="activeName">
      <el-tab-pane label="销售走势" name="first"></el-tab-pane>
      <el-tab-pane label="成交趋势" name="second"></el-tab-pane>
    </el-tabs>
    <div class="chart" ref="chart"></div>
  </div>
</template>

<script>
import * as echarts from 'echarts'

export default {
  data () {
    return {
      activeName: 'first',
      echartData: {
        first: {
          title: {
            text: '折线图'
          },
          tooltip: {},
          legend: {},
          grid: {
            left: '0%',
            right: '0%',
            bottom: '0%',
            containLabel: true
          },
          toolbox: {
            feature: {
              saveAsImage: {}
            }
          },
          xAxis: {
            data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']
          },
          yAxis: {},
          series: [
            {
              name: '销量',
              type: 'line',
              data: [5, 20, 36, 10, 10, 20]
            },
            {
              name: '库存',
              type: 'line',
              data: [50, 200, 360, 100, 100, 200]
            }
          ]
        },
        second: {
          title: {
            text: '柱状图'
          },
          grid: {
            left: '0%',
            right: '0%',
            bottom: '0%',
            containLabel: true
          },
          xAxis: {
            data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']
          },
          yAxis: {},
          series: [
            {
              name: '销量1',
              type: 'line',
              data: [15, 52, 10, 100, 70, 80]
            },
            {
              name: '库存1',
              type: 'line',
              data: [55, 100, 36, 80, 60, 40]
            }
          ]
        }
      }
    }
  },
  watch: {
    // 监听tab切换，绘制对应的数据
    activeName () {
      // 绘制图表
      this.myChart.setOption(this.echartData[this.activeName], true)
    }
  },
  mounted () {
    // 初始化echarts
    this.myChart = echarts.init(this.$refs.chart)
    this.myChart.setOption(this.echartData[this.activeName])
  }
}
</script>

<style lang="scss" scoped>
.chart {
  height: 300px;
}
</style>
