<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h2>{{ title }}</h2>
    <input
      type="text"
      v-bind:placeholder="placeholder"
      :value="title"
      @input="title = $event.target.value"
    >
    <button :disabled="title === ''">按钮</button>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        placeholder: 'abcdefg',
        title: '标题'
      },
      // 定义方法
      methods: {
      }
    })






  </script>
</body>
</html>