<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <!-- 标签上以 v- 开头的属性是vue的指令 -->
    <!-- 类似原生js的 innerText -->
    <h1>{{ title }}</h1>
    <h1 v-text="title"></h1>

    <!-- 类似原生js的 innerHTML -->
    <h1 v-html="title"></h1>
  </div>

  <script>
    // 数据驱动视图改变，改变数据页面自动更新
    // 创建vue实例
    const vm = new Vue({
      el: '.app', // 挂载元素，在此元素内可以使用vue语法
      data: { // 定义vue的数据，data中定义的属性会挂在到 vm 对象上
        title: '<i>标题</i>'
      }
    })

  </script>
</body>
</html>