<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <!-- <button v-on:click="count --">-</button>
    {{ count }}
    <button v-on:click="add">+</button> -->

    <button v-on:click="changeCount(-1, $event)">-</button>
    {{ count }}
    <button @click="changeCount(1, $event)">+</button>
    <hr />
    <h2>{{ title }}</h2>
    <input type="text" @input="change">
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        count: 0,
        title: '标题'
      },
      // 定义方法
      methods: {
        add (e) {
          // e: 事件对象
          this.count ++
        },
        changeCount (n, e) {
          this.count += n
          console.log(e)
        },
        change (e) {
          this.title = e.target.value
        }
      }
    })






  </script>
</body>
</html>