<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <!-- 声明式渲染，{{}} 可以解析js表达式，不可以解析js语句 -->
    <h1>{{ title.split('') }}</h1>
    <p>{{ {name: 'aa'}.name }}</p>
    <p>{{ title.length > 3 ? '好大' : '好笑' }}</p>
  </div>

  <script>
    // 数据驱动视图改变，改变数据页面自动更新
    // 创建vue实例
    const vm = new Vue({
      el: '.app', // 挂载元素，在此元素内可以使用vue语法
      data: { // 定义vue的数据，data中定义的属性会挂在到 vm 对象上
        title: '标题'
      }
    })
  </script>
</body>
</html>