<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <p>姓名: {{ username }}</p>
    <p>分数: {{ num }}</p>
    
    <!-- 条件渲染：添加删除dom元素 -->
    <!-- <b v-if="num >= 90" style="color: green">还可以请再接再厉</b>
    <b v-else-if="num >= 60 && num < 90" style="color: orange">勉强及格吧</b>
    <b v-else style="color: tomato">需要加油努力了💪</b> -->

    <!-- 条件渲染：修改元素的 display 属性 -->
    <b v-show="num >= 90" style="color: green">还可以请再接再厉</b>
    <b v-show="num >= 60 && num < 90" style="color: orange">勉强及格吧</b>
    <b v-show="num < 60" style="color: tomato">需要加油努力了💪</b>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        username: '小明',
        num: 10
      }
    })

  </script>
</body>
</html>