<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .box {
    padding: 100px;
  }
  .row {
    margin-bottom: 10px;
  }
</style>
<body>
  <div class="app">
    <h3>{{ title }}</h3>
    <input type="text" v-model="title">
    <ul>
      <li v-for="(item, index) in arr">
        {{ item }} <button @click="add(index, item)">+</button>
      </li>
    </ul>
    <footer>总数：{{ total }}</footer>
    <footer>总数：{{ total }}</footer>
    <footer>总数：{{ total }}</footer>
    <footer>总数：{{ total }}</footer>
    <!-- <footer>总数：{{ totalFn() }}</footer>
    <footer>总数：{{ totalFn() }}</footer>
    <footer>总数：{{ totalFn() }}</footer>
    <footer>总数：{{ totalFn() }}</footer> -->
    <hr />
    {{ newArr }}
    <hr />
    <div>{{ len }}</div>
    <div>{{ len }}</div>
    <div>{{ len }}</div>
    <div>{{ len }}</div>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        arr: [1, 2, 3, 4],
        title: '标题'
      },
      // 计算属性：当一个变量是由其他某个或者某些变量计算得出的可以使用计算属性
      // 计算属性有缓存，当计算属性内的变量没有发生改变时会从缓存中读取数据，依赖的变量发生改变会重新计算
      computed: {
        total() {
          console.log('计算总数')
          let total = 0
          this.arr.forEach(item => {
            total += item
          })
          return total
        },
        newArr() {
          return this.arr.map(v => v * 2)
        },
        len() {
          console.log('计算属性len')
          return this.arr.length + this.title.length
        }
      },
      methods: {
        add (i, value) {
          this.arr.splice(i, 1, value + 1)
        },
        totalFn() {
          console.log('计算总数')
          let total = 0
          this.arr.forEach(item => {
            total += item
          })
          return total
        }
      }
    })

  </script>
</body>

</html>