<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
  <script src="./data.js"></script>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body, .app {
    width: 100%;
    height: 100%;
  }
  .app {
    display: flex;
  }
  .left {
    width: 100px;
    overflow: auto;
    background: #cccccc;
  }
  .nav-item {
    line-height: 36px;
    text-align: center;
  }
  .active {
    background: #fff;
    border-left: 4px solid palevioletred;
  }
  img {
    width: 100%;
  }
  .right {
    flex: 1;
    overflow: hidden;
  }
</style>
<body>
  <div class="app">
    <div class="left">
      <p
        v-for="(item, index) in tabList"
        :class="['nav-item', { active: index === curIndex }]"
        @click="changeTab(index)"
      >{{ item.name }} {{ index }}</p>
    </div>
    <div class="right">
      <h3>{{ tabList[curIndex].name }}</h3>
      <img :src="tabList[curIndex].image" alt="">
      <p>id: {{ tabList[curIndex].categoryId }}</p>
      <ul>
        <li v-for="(val, key) in tabList[curIndex].attribute_individuation">
          {{ key }} : {{val}}
        </li>
      </ul>
    </div>
  </div>
  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        tabList: JSON.parse(JSON.stringify(data)),
        curIndex: 0 // 当前高亮的下标
      },
      methods: {
        changeTab(index) {
          // 切换高亮下标
          this.curIndex = index
        }
      }
    })
  </script>
</body>
</html>