<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body, .app {
    width: 100%;
    height: 100%;
  }
  .app {
    padding: 20px;
  }
  header {
    margin-bottom: 20px;
    display: flex;
  }
  header input {
    flex: 1;
  }
  header button {
    width: 100px;
    margin-left: 20px;
    height: 36px;
  }
  ul {
    border: 1px solid;
    padding: 20px;
  }
  li {
    list-style-type: none;
    display: flex;
    border-bottom: 1px solid;
    padding: 15px 0;
  }
  .con {
    flex: 1;
  }
  .con span {
    color: tomato;
    border: 1px solid tomato;
    background: #ff634724;
    padding: 0 10px;
  }
  .con.on span {
    color: #00a588;
    border: 1px solid #00a588;
    background: #00a5884d;
  }
  .remove {
    background: tomato;
    color: #fff;
    padding: 3px 10px;
    border: none;
  }
  .power {
    margin-right: 10px;
    height: 26px;
    width: 50px;
    padding: 3px 5px;
    background: #ccc;
    border-radius: 20px;
    transition: transform 1s linear;
  }
  .power span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    background: #fff;
  }
  .power.on {
    background: blue;
  }
  .power.on span {
    transform: translateX(20px);
  }
</style>
<body>
  <div class="app">
    <header>
      <input type="text" v-model="text" @keydown.enter="add" placeholder="请输入内容">
      <button @click="add">添加</button>
    </header>
    <main>
      <h3>list</h3>
      <div class="empty" v-if="list.length === 0">还没有数据，快去添加数据吧</div>
      <ul v-else>
        <li v-for="(item, index) in list">
          <div :class="['con', { on: item.checked }]">
            <span>{{item.text}}</span>
          </div>
          <div :class="['power', { on: item.checked }]" @click="change(index)"><span></span></div>
          <button class="remove" @click="remove(index)">删除</button>
        </li>
      </ul>
    </main>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        text: '',
        list: []
      },
      methods: {
        add () {
          if (this.text.trim() === '') {
            return
          }
          this.list.push({
            text: this.text,
            checked: false
          })
          this.text = ''
        },
        remove (index) {
          this.list.splice(index, 1)
        },
        change (index) {
          this.list[index].checked = !this.list[index].checked
        }
      }
    })
  </script>
</body>
</html>