<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .box {
    padding: 100px;
  }
  .row {
    margin-bottom: 10px;
  }
</style>
<body>
  <div class="app">
    <div class="row">
      <span>姓名:</span>
      <input type="text" v-model.lazy.trim="form.name">
    </div>
    <div class="row">
      <span>年龄:</span>
      <input type="number" v-model.number="form.age">
    </div>
    <div class="row">
      <span>性别:</span>
      <input type="radio" value="男" name="sex" v-model="form.sex"> 痴男
      <input type="radio" value="女" name="sex" v-model="form.sex"> 怨女
    </div>
    <div class="row">
      <span>地址:</span>
      <select v-model="form.address">
        <option value="">请选择</option>
        <option value="beijing">北京</option>
        <option value="shanghai">上海</option>
        <option value="guangzhou">广州</option>
        <option value="shenzhen">深圳</option>
      </select>
    </div>
    <div class="row">
      <span>婚否:</span>
      <!-- 如果 v-model 绑定的值时布尔值会获取 input 的 checked 属性 -->
      <input type="checkbox" value="married" v-model="form.married">
      {{ form.married ? '已婚' : '未婚' }}
    </div>
    <div class="row">
      <span>爱好:</span>
      <!-- 如果 v-model 绑定的值时数组会获取 input 的 value 属性 -->
      <input type="checkbox" value="唱" v-model="form.hobby"> 唱
      <input type="checkbox" value="跳" v-model="form.hobby"> 跳
      <input type="checkbox" value="rap" v-model="form.hobby"> rap
      <input type="checkbox" value="篮球" v-model="form.hobby"> 篮球
    </div>
    <div class="row">
      <span>备注:</span>
      <textarea v-model="form.remark" cols="30" rows="10"></textarea>
    </div>
    <button @click="submit">提交</button>
    {{ form }}
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        form: {
          name: '',
          age: '',
          sex: '',
          address: '',
          hobby: [],
          married: false,
          remark: ''
        }
      },
      methods: {
        submit() {
          console.log(this.form)
        }
      }
    })

  </script>
</body>

</html>