<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .box {
    padding: 100px;
  }
  .row {
    margin-bottom: 10px;
  }
</style>
<body>
  <div class="app">
    <ul>
      <li v-for="item in arr">{{ item }}</li>
    </ul>
    <button @click="changeArr">修改数组</button>
    {{ obj }}
    <button @click="changeObj">修改对象</button>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        arr: [1, 2, 3, 4],
        obj: {
          name: '小明',
          age: 20
        }
      },
      methods: {
        changeObj() {
          // this.obj.sex = '男' // 给对象添加新属性不会触发页面更新
          // this.obj = {...this.obj, sex: '男'} // 直接修改整个对象可以更新页面
          // this.$set(this.obj, 'sex', '女') // 使用 $set 可以更新页面
          Vue.set(this.obj, 'sex', '女')
        },
        changeArr() {
          // this.arr.length = 0 页面不会更新
          // this.arr[1] = 5 // 使用下标修改数组内容，页面不会更新，必须使用数组的方法修改
          // this.arr.splice(1, 1, 5)
          this.$set(this.arr, 1, 5)
        }
      }
    })

  </script>
</body>

</html>