<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .red {
    color: red;
  }
  .blue {
    color: blue;
  }
  .space {
    margin: 0 20px;
  }
</style>
<body>
  <div class="app">
    <button @click="count --">-</button>
    <!-- <span :style="[{ fontSize: '50px' }, getStyle()]">{{ count }}</span> -->
    <!-- <span :class="['space', {
      red: count > 5,
      blue: count >  7
    }, {
      green: count === 2
    }]">{{ count }}</span> -->
    <span class="space" :class="{
      red: count > 5,
      blue: count >  7
    }">{{ count }}</span>
    <button @click="count ++">+</button>
  </div>
  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        count: 0
      },
      methods: {
        getStyle () {
          return {
            color: this.count > 3 ? 'red' : 'green',
            background: this.count > 5 ? 'orange' : 'blue',
          }
        }
      }
    })
  </script>
</body>
</html>