* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  border: 1px solid #999;
  background: #ccc;
  line-height: 50px;
}
nav span {
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
}
nav span.active {
  background: #fff;
}
main {
  margin-top: 20px;
  background: #eee;
  height: 600px;
  padding: 20px;
}
.menu {
  display: flex;
  border-radius: 10px 0 0 0;
  overflow: hidden;
}
.menu p {
  line-height: 40px;
  background: #305c83;
  padding: 0 30px;
  border: 1px solid tomato;
  border-left: none;
  color: #ccc;
  transform: skewX(20deg) translateX(-10px);
  cursor: pointer;
}
.menu p:last-of-type {
  border-radius: 0 10px 0 0;
}
.menu p:first-of-type {
  padding-left: 40px;
}
.menu p:first-of-type::before {
  content: '';
  border-top: 1px solid tomato;
  border-left: 1px solid tomato;
  position: absolute;
  left: 0;
  top: -1px;
  height: 100%;
  width: 100%;
  border-radius: 10px 0 0 0;
  transform: skewX(-20deg) translateX(10px);
}
.menu p span {
  display: block;
  transform: skewX(-20deg);
}
.menu .active {
  background: tomato;
}