<template>
  <div>
    <div>
      修改数量：
      <button @click="add(-1)">-</button>
      <button @click="add(1)">+</button>
    </div>
    <div>
      修改标题:
      <input type="text" @input="changeTitle">
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    add (n) {
      // 触发 eventBus 中的事件
      this.$bus.$emit('changeCount', n)
    },
    changeTitle (e) {
      this.$bus.$emit('changeTitle', e.target.value)
    }
  }
}
</script>

<style>

</style>
