<template>
  <div>
    <h3>{{ title }}</h3>
    <p>{{ count }}</p>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: '默认标题',
      count: 0
    }
  },
  methods: {
    changeCount (n) {
      this.count += n
    },
    changeTitle (title) {
      this.title = title
    }
  },
  created () {
    // 往 eventBus 中注册事件
    this.$bus.$on('changeCount', this.changeCount)
    this.$bus.$on('changeTitle', this.changeTitle)
  }
}
</script>

<style>

</style>
