.header {
  height: 150px;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.top {
  flex: 1;
}
.btm {
  height: 60px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #999;
  padding: 10px 20px 0;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.navItem {
  flex-shrink: 0;
  padding: 0 20px;
  position: relative;
  a {
    display: block;
    height: 100%;
    line-height: 50px;
    padding: 0 30px;
    color: #333;
    &.active {
      background: #ddd;
      border-radius: 5px 5px 0 0;
    }
    span {
      margin-left: 10px;
      display: inline-block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      border-radius: 50%;
      &:hover {
        background: #999;
      }
    }
  }
  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-right: 1px solid #ccc;
    height: 28px;
  }
  &:last-of-type::after {
    display: none;
  }
}
