.menu {
  width: 250px;
  display: flex;
  color: #fff;
}
.tab {
  background: #031133;
  padding-top: 110px;
  width: 110px;
  p {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba($color: #fff, $alpha: .6);
  }
  .active {
    background: #0b1d45;
    border-left: 3px solid #fff;
    color: rgba($color: #fff, $alpha: 1);
  }
}
.list {
  background: #0b1d45;
  width: 140px;
  h2 {
    color: #fff;
    height: 110px;
    line-height: 110px;
    text-align: center;
    border-bottom: 1px solid #fff;
  }
  li {
    line-height: 40px;
    padding: 5px 0;
    a {
      display: block;
      color: rgba($color: #fff, $alpha: .6);
      text-align: center;
    }
    .navActive {
      color: rgba($color: #fff, $alpha: 1);
      border-right: 5px solid #4090f7;
    }
  }
}