<template>
  <div>我的音乐</div>
</template>

<script>
import {
  // userDetail,
  // userLevel,
  userSubcount
} from '@/api/user'

export default {
  created () {
    // const uid = JSON.parse(localStorage.getItem('account')).id
    // userDetail(uid)
    //   .then(res => {
    //     console.log(res)
    //   })
    //   .catch(e => {
    //     console.log(e)
    //   })
    userSubcount()
      .then(res => {
        console.log(res)
      })
      .catch(e => {
        console.log(e)
      })
  }
}
</script>

<style>

</style>
