<!-- <image mode="aspectFit" src="https://www.2008php.com/09_Website_appreciate/10-07-11/1278861720_g.jpg"></image> -->
<!-- <image mode="widthFix" src="https://img0.baidu.com/it/u=857510153,4267238650&fm=253&fmt=auto&app=120&f=JPEG?w=1200&h=675"></image>
<image mode="center" src="https://img0.baidu.com/it/u=857510153,4267238650&fm=253&fmt=auto&app=120&f=JPEG?w=1200&h=675"></image> -->
<view wx:for="{{list}}" wx:key="name">
  <image lazy-load mode="widthFix" src="{{item.image}}" ></image>
  {{item.name}}
</view>