@import '~antd/dist/antd.css';
@import './font/iconfont.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  width: 100%;
  height: 100%;
}
li {
  list-style-type: none;
}