<template>
  <div id="app">
    <nav>
      <span
        v-for="(item, index) in navlist"
        :key="item.text"
        :class="{ active: curIndex === index }"
        @click="curIndex = index"
      >{{ item.text }}</span>
    </nav>
    <!-- keep-alive: vue的内置组件，缓存组件状态，切换组件时不会销毁 -->
    <!-- :include="['First', 'Second']" 只缓存名称匹配的组件 -->
    <!-- :exclude="['First']" 不缓存指定的组件 -->
    <!-- max="2" 最多缓存几个组件 -->
    <keep-alive>
      <!-- 动态组件：vue的内置组件，可以根据组件名切换要展示的组件 -->
      <!-- <component :is="navlist[curIndex].ComName"></component> -->
      <First v-if="curIndex === 0" />
      <Second v-else-if="curIndex === 1" />
      <Third v-else-if="curIndex === 2" />
    </keep-alive>
  </div>
</template>

<script>
import First from './components/First.vue'
// import Second from './components/Second.vue'
// import Third from './components/Third.vue'

export default {
  name: 'App',
  data () {
    return {
      navlist: [
        {
          text: '组件1',
          ComName: 'First'
        },
        {
          text: '组件2',
          ComName: 'Second'
        },
        {
          text: '组件3',
          ComName: 'Third'
        }
      ],
      curIndex: 0,
    }
  },
  components: {
    First,
    // 异步组件|组件懒加载，可以优化首屏加载速度
    Second: () => import('./components/Second.vue'),
    Third:  () => import('./components/Third.vue'),
  }
}
</script>

<style lang="scss">
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; // 修改盒模型
}
nav {
  padding: 10px 0;
  border-bottom: 1px solid #999999;
  display: flex;
  span {
    border: 1px solid;
    padding: 3px 10px;
    margin: 0 10px;
    cursor: pointer;
  }
  .active {
    background: orange;
  }
}
</style>

