* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  h1 {
    color: red;
  }
}
nav {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid orange;
  display: flex;
  span {
    flex: 1;
    text-align: center;
    cursor: pointer;
  }
  .active {
    background: tomato;
    color: #fff;
  }
}