<view>当前时间： {{now}}</view>
<!-- <view
  wx:for="{{list}}"
  wx:key="id"
  class="item"
  bindtap="goDetail"
  data-id="{{item.id}}"
>
  <view data-test="姓名">姓名: {{item.title}}</view>
  <view>年龄: {{item.age}}</view>
</view> -->
<view
  wx:for="{{list}}"
  wx:key="*this"
  class="item"
>
  {{item}}
</view>
<view wx:if="{{list.length >= 90}}">没有更多数据了</view>