<template>
  <div>
    <!-- 自定义事件 -->
    <Button text="默认按钮" @handleClick="fn" @change="fn" />
    <Button btnType="primary" text="填充按钮" @handleClick="fn" />
    <Button btnType="dashed" text="虚线按钮" @handleClick="fn" />
    <br />

    <Button :search="true" text="默认搜索" @handleClick="fn" />
    <Button :search="true" btnType="primary" text="填充搜索" @handleClick="fn" />
    <Button :search="true" btnType="dashed" text="虚线搜索" @handleClick="fn" />
    <br />

    <Button :danger="true" text="默认删除" @handleClick="fn" />
    <Button :danger="true" btnType="primary" text="填充删除" @handleClick="fn" />
    <Button :danger="true" btnType="dashed" text="虚线删除" @handleClick="fn" />
    <br />
    <Button text="-" @handleClick="count --" />
      {{ count }}
    <Button text="+" btnType="primary" @handleClick="count ++" />
  </div>
</template>

<script>
import Button from './components/Button.vue'

export default {
  data() {
    return {
      count: 0
    }
  },
  methods: {
    fn(e) {
      console.log(e)
    }
  },
  components: {
    Button
  }
}
</script>

<style>

</style>