<template>
  <div>
    <el-row>
      <el-col :span="24">
        <el-row class="col" style="marginBottom: 0">
          <el-col
            class="taskitem"
            :span="6"
            v-for="item in taskList"
            :key="item.title"
          >
            <h3>{{ item.title }}</h3>
            <p>
              <b>{{ item.num }}</b>
              <span>{{ item.type === "task" ? "个任务" : "分钟" }}</span>
            </p>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="18">
        <div class="col">
          <ChartsList />
        </div>
      </el-col>
      <el-col :span="6">
        <div class="col">
          <el-card
            shadow="never"
            header="销售排名"
            :body-style="{ padding: 0 }"
          >
            <dl class="rankitem" v-for="item in ranked" :key="item.name">
              <dt>
                <el-avatar :src="item.img"></el-avatar>
              </dt>
              <dd>
                <h3>{{ item.name }}</h3>
                <p>{{ item.title }}</p>
              </dd>
            </dl>
          </el-card>
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="8" v-for="item in facilityList" :key="item.name">
        <div class="col facility">
          <el-progress
            type="circle"
            :stroke-width="10"
            :color="getColor(item.percent)"
            :percentage="item.percent"
          ></el-progress>
          <p>{{ item.name }}</p>
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="14">
        <div class="col">
          <el-card
            shadow="never"
            header="销售排名"
            :body-style="{ padding: 0 }"
          >
            <el-table :data="tableData" style="width: 100%" :show-header="false">
              <el-table-column prop="index" width="50"></el-table-column>
              <el-table-column prop="name"></el-table-column>
              <el-table-column>
                <template slot-scope="scope">
                  <b style="color: tomato">¥{{ scope.row.price }}</b>
                </template>
              </el-table-column>
              <el-table-column width="200">
                <template slot-scope="scope">
                  <el-button @click="changeCount(scope.$index, -1)" :disabled="scope.row.count === 0" size="mini">-</el-button>
                  <b style="margin: 0 10px">{{ scope.row.count }}</b>
                  <el-button @click="changeCount(scope.$index, 1)" size="mini" type="primary">+</el-button>
                </template>
              </el-table-column>
              <el-table-column width="200">
                <template slot-scope="scope">
                  <el-progress :percentage="Math.round(scope.row.count / total * 100)"></el-progress>
                </template>
              </el-table-column>
            </el-table>
          </el-card>
        </div>
      </el-col>
      <el-col :span="10"><div class="col"></div></el-col>
    </el-row>
  </div>
</template>

<script>
import ChartsList from './components/ChartsList.vue'

export default {
  data () {
    return {
      taskList: [
        {
          title: '我的待办',
          num: 8,
          type: 'task'
        },
        {
          title: '对接设备时间',
          num: 32,
          type: 'time'
        },
        {
          title: '本周销售时间',
          num: 32,
          type: 'time'
        },
        {
          title: '本周销售量',
          num: 23,
          type: 'task'
        }
      ],
      ranked: [
        {
          img: 'https://img.alicdn.com/tfs/TB19Erpw4TpK1RjSZFKXXa2wXXa-150-150.jpg',
          name: '马老师',
          title: '头牌技师'
        },
        {
          img: 'https://img.alicdn.com/tfs/TB1w5jvw4TpK1RjSZFMXXbG_VXa-200-200.png',
          name: '张明',
          title: '资深客户经理'
        },
        {
          img: 'https://img.alicdn.com/tfs/TB1zenmwYPpK1RjSZFFXXa5PpXa-200-200.png',
          name: '李四',
          title: '客户销售专家'
        },
        {
          img: 'https://img.alicdn.com/tfs/TB1n4rxwZfpK1RjSZFOXXa6nFXa-200-200.png',
          name: '张三',
          title: '高级客户销售庄家'
        },
        {
          img: 'https://img.alicdn.com/tfs/TB19Erpw4TpK1RjSZFKXXa2wXXa-150-150.jpg',
          name: '淘小宝',
          title: '高级客户销售'
        }
      ],
      facilityList: [
        {
          name: '设备A',
          percent: 10
        },
        {
          name: '设备B',
          percent: 50
        },
        {
          name: '设备C',
          percent: 100
        }
      ],
      tableData: [
        {
          index: 1,
          name: '苹果',
          price: 10,
          count: 10
        },
        {
          index: 2,
          name: '香蕉',
          price: 12,
          count: 20
        },
        {
          index: 3,
          name: '梨',
          price: 13,
          count: 30
        },
        {
          index: 4,
          name: '葡萄',
          price: 15,
          count: 40
        },
        {
          index: 5,
          name: '蜜桃',
          price: 800,
          count: 50
        }
      ]
    }
  },
  computed: {
    total () {
      return this.tableData.reduce((prev, val) => prev + val.count, 0)
    }
  },
  methods: {
    changeCount (index, n) {
      console.log('修改数量', index)
      this.tableData[index].count += n
    },
    getColor (percentage) {
      if (percentage >= 0 && percentage < 30) {
        return '#ff3000'
      } else if (percentage >= 30 && percentage < 70) {
        return '#3080fe'
      } else {
        return '#2eca9c'
      }
    }
  },
  components: {
    ChartsList
  }
}
</script>

<style lang="scss" scoped>
.col {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}
.el-row {
  margin-bottom: 20px;
}
.taskitem {
  text-align: center;
  border-right: 1px solid #eee;
  &:last-of-type {
    border-right: none;
  }
  h3 {
    margin-bottom: 10px;
  }
  b {
    font-size: 20px;
  }
}
.el-card {
  border: none !important;
}
// 样式穿透
::v-deep .el-card__header {
  padding: 10px 20px 10px 0;
}
.rankitem {
  display: flex;
  padding: 10px;
  dd {
    flex: 1;
    margin-left: 10px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
}
.facility {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-top: 10px;
  }
  ::v-deep .el-progress__text {
    font-size: 30px !important;
    font-weight: bold;
  }
}
</style>
