<template>
  <button
    class="btn"
    :class="[btnType || 'default', { search, danger }]"
    @click="btnClick"
  >
    <i v-if="search">
      <svg viewBox="64 64 896 896" focusable="false" data-icon="search" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0011.6 0l43.6-43.5a8.2 8.2 0 000-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z"></path></svg>
    </i>
    <slot></slot>
  </button>
</template>

<script>
export default {
  props: ['btnType', 'search', 'danger'],
  methods: {
    btnClick(e) {
      // 触发组件上的自定义事件 this.$emit(事件名, 参数)
      this.$emit('click', e)
    }
  }
}
</script>

<style lang="scss">
.btn {
  padding: 5px 10px;
  margin: 5px;
}
.primary {
  background: #1890ff;
  color: #ffffff;
  border: none;
  border-radius: 3px;
}
.default, .dashed {
  background: #ffffff;
  color: #333333;
  border: 1px solid #cccccc;
  border-radius: 3px;
  &:hover {
    border-color: #1890ff;
    color: #1890ff;
  }
}
.dashed {
  border-style: dashed;
}
.search {
  i {
    display: inline-block;
    vertical-align: middle;
  }
}
.danger, .danger:hover {
  color: #ff4d4f;
  border-color: #ff4d4f;
}
.primary.danger {
  color: #ffffff;
  background: #ff4d4f;
}
</style>