<template>
  <div>
    <button @click="$emit('update:age', age - 1)">-</button>
    {{ age }}
    <button @click="$emit('update:age', age + 1)">+</button>
    <h3>{{ user }}</h3>
    <input type="text" :value="user" @input="$emit('update:user', $event.target.value )">
  </div>
</template>

<script>
export default {
  props: ['age', 'user']
}
</script>

<style>

</style>