<template>
  <div class="input">
    <span>{{label}}:</span>
    <input type="text" :value="value" @input="$emit('input', $event.target.value)">
  </div>
</template>

<script>
export default {
  props: ['label', 'value']
}
</script>

<style lang="scss" scoped>
.input {
  padding: 5px;
  display: flex;
  align-items: center;
  span {
    width: 70px;
    text-align: right;
    margin-right: 10px;
  }
  input {
    flex: 1;
    height: 36px;
  }
}
</style>