<script setup>
import { reactive, ref, computed } from 'vue'
import Header from '@/components/Header.vue'
import Form from '@/components/Form.vue'
import Todo from '@/components/Todo.vue'
import Footer from '@/components/Footer.vue'

const list = ref([])
const curType = ref('all')
const todoLen = computed(() => list.value.filter(v => !v.checked).length)

// 根据高亮按钮类型筛选数据
const curList = computed(() => {
  if (curType.value === 'all') return list.value
  return list.value.filter(v => v.checked === curType.value)
})

// 修改高亮type
const changeType = type => curType.value = type
// 添加数据
const add = text => {
  list.value.unshift({
    id: Date.now(),
    checked: false,
    text
  })
}
// 修改状态
const changeChecked = id => {
  // 根据id查找数据，修改选中状态
  list.value.forEach(item => {
    if (item.id === id) {
      item.checked = !item.checked
    }
  })
}
// 删除
const remove = id => {
  const index = list.value.findIndex(v => v.id === id)
  list.value.splice(index, 1)
}
// 清除所有已完成
const clearActive = () => {
  list.value = list.value.filter(v => !v.checked)
}
</script>

<template>
  <main>
    <Header />
    <Form @add="add" />
    <template v-if="list.length > 0">
      <Todo :list="curList" @change="changeChecked" @remove="remove" />
      <Footer
        :todoLen="todoLen"
        :doneLen="list.length - todoLen"
        :curType="curType"
        @clear="clearActive"
        @changeType="changeType"
      />
    </template>
    <div v-else class="empty">还没有数据，快去添加数据吧</div>
  </main>
</template>

<style lang='scss'>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
button, input {
  border: none;
  outline: none;
  appearance: none;
}
// 自定义字体
@font-face {
  font-family: 'mqqfont';
  src: url(https://fonts.gstatic.com/s/yanonekaffeesatz/v24/3y9I6aknfjLm_3lMKjiMgmUUYBs04aUXNxt9gW2LIfto9tWZc2GKKHD0VTtItvI.woff2) format('woff2');
}
body {
  font-family: mqqfont;
  padding: 50px 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg,#ffafbd,#ffc3a0);
  background-repeat: no-repeat;
}
main {
  padding: 30px 40px 20px;
  text-align: center;
  width: 440px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
}
.empty {
  text-align: center;
  font-size: 12px;
  color: #999;
  margin-top: 40px;
}
</style>
