<template>
  <div class="about">
    <h1>自定义指令</h1>
    <button @click="num --">-</button>{{ num }} <button @click="num ++">+</button>
    <hr />
    <img v-if="num >= 0" v-loadImg="img" >
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: 0,
      img: '',
      img1: 'https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg9.51tietu.net%2Fpic%2F2019-091407%2F1urclbp0bq51urclbp0bq5.jpg&refer=http%3A%2F%2Fimg9.51tietu.net&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1664618529&t=99c639f93cee03452c19df927c926396'
    }
  },
  created () {
    setTimeout(() => {
      this.img = 'https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fup.deskcity.org%2Fpic_360%2F202203%2Fsl%2Fzolacmpyaxx4515.jpg&refer=http%3A%2F%2Fup.deskcity.org&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1664618483&t=41911509a386f068626301e4022eb16e'
      console.log(this.img)
    }, 5000)
  }
}
</script>

<style lang="scss" scoped>
img {
  width: 100%;
}
</style>
