<template>
  <div class="home">
    <Info />
    <Btns />
  </div>
</template>

<script>
import Info from '@/components/Info.vue'
import Btns from '@/components/Btns.vue'

export default {
  components: {
    Info,
    Btns
  }
}
</script>
