<template>
  <div class="home">
    <Menu @add="addnav" />
    <main>
      <Header :nav="nav" @remove="remove" />
      <div class="content">
        <router-view />
      </div>
    </main>
  </div>
</template>

<script>
import Menu from '@/components/Menu.vue'
import Header from '@/components/Header.vue'

export default {
  data () {
    return {
      nav: []
    }
  },
  methods: {
    addnav (route) {
      if (!this.nav.includes(route)) {
        this.nav.push(route)
      }
    },
    remove (index) {
      // 判断删除的是不是当前页面
      if (this.$route.path === this.nav[index].path) {
        if (this.nav.length === 1) {
          this.nav = []
          localStorage.removeItem('token')
          this.$router.push('/login')
        } else if (index === 0) {
          this.$router.push(this.nav[index + 1])
          this.nav.splice(index, 1)
        } else {
          this.$router.push(this.nav[index - 1])
          this.nav.splice(index, 1)
        }
        console.log('要删除当前页面')
      } else {
        this.nav.splice(index, 1)
      }
    }
  },
  components: {
    Menu,
    Header
  }
}
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100%;
  display: flex;
}
main {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
  overflow: hidden;
  background: #eee;
  padding: 20px;
}
</style>
