<template>
  <div>
    {{ userInfo }}
    <img :src="info.img1v1Url" alt="">
    <h1>{{ info.name }}</h1>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['userInfo']), // 获取仓库中的 getters
    ...mapState(['hotComments']),
    info () {
      return this.hotComments.find(item => item.id === this.$route.params.id * 1) || {}
    }
  },
  methods: {
    ...mapActions(['getComments'])
  },
  created () {
    // console.log(this.$store)
    // 组件中触发vuex中的actions函数
    // this.$store.dispatch('getComments')
    this.getComments({
      type: 1,
      area: 7,
      initial: -1
    }).then(res => {
      console.log(res)
      console.log(1)
    })
  }
}
</script>

<style scoped>
img {
  width: 100%;
}
</style>
