<template>
  <div>
    <div>data的姓名: {{ username }}</div>
    <div>
      仓库的姓名: {{ user }}
      <input type="text" :value="user" @input="changeUser($event.target.value)">
    </div>
    <div>
      年龄: {{ age }} == {{ userAge }}
      <input type="number" :value="age" @input="setAge($event.target.value)">
    </div>
    <div>性别: {{ sex }} == {{ userSex }}</div>
    {{ userInfo }}
    <hr />
    <ul>
      <li v-for="item in hotComments" :key="item.id" @click="goDetail(item.id)">
        <img :src="item.img1v1Url" alt="">
        {{ item.name }}
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  data () {
    return {
      username: '王老吉'
    }
  },
  computed: {
    // 使用辅助函数获取仓库的数据，数组中的属性名必须和仓库内的属性名一致
    ...mapState(['age', 'sex', 'hotComments']),
    // 使用对象形式，可以修改接收仓库数据的变量名
    ...mapState({
      user: state => state.username,
      userAge: state => state.age,
      userSex: state => state.sex
    }),
    userInfo () {
      return this.$store.getters.userInfo
    }
  },
  methods: {
    // 使用辅助函数把仓库中的 mutations 函数映射到组件的 methods 中
    ...mapMutations(['setUser', 'setAge', 'setHotComments']),
    ...mapMutations({
      changeUser: 'setUser'
    }),
    goDetail (id) {
      console.log(id)
      this.$router.push(`/detail/${id}`)
    }
  },
  created () {
    this.$store.dispatch('getComments', {
      type: 1,
      area: 7,
      initial: -1
    })
  }
}
</script>

<style lang="scss" scoped>
li {
  height: 60px;
  padding: 10px;
  img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
  }
}
</style>
