<template>
  <div class="wrap">
    <el-steps :active="active" process-status="finish" finish-status="success" align-center>
      <el-step :title="item.text" v-for="item in stepArr" :key="item.text"></el-step>
    </el-steps>
    <template v-if="active < stepArr.length">
      <component ref="test" :is="stepArr[active].component"></component>
      <footer>
        <el-button v-if="active > 0" @click="active--">{{ stepArr[active - 1].text }}</el-button>
        <el-button v-if="active + 1 < stepArr.length" @click="next" type="primary">{{ stepArr[active + 1].text }}</el-button>
        <el-button v-else type="primary" @click="submit">完成，确认提交</el-button>
      </footer>
    </template>
    <el-result v-else icon="success" title="提交成功" subTitle="等待审核">
      <template slot="extra">
        <el-button type="primary" size="medium">返回</el-button>
      </template>
    </el-result>
    {{ stepArr }}
  </div>
</template>

<script>
import First from './components/First.vue'
import Second from './components/Second.vue'
import Third from './components/Third.vue'
import Fourth from './components/Fourth.vue'

export default {
  data () {
    return {
      stepArr: [
        {
          text: '步骤 1',
          component: 'First',
          form: {}
        },
        {
          text: '步骤 2',
          component: 'Second',
          form: {}
        },
        {
          text: '步骤 3',
          component: 'Third',
          form: {}
        },
        {
          text: '步骤 4',
          component: 'Fourth',
          form: {}
        }
      ],
      active: 0
    }
  },
  methods: {
    next () {
      // 调用子组件中的方法校验每个表单的数据
      this.$refs.test.submit().then(res => {
        console.log('校验通过获取子组件中的数据', res)
        this.stepArr[this.active].form = res
        this.active++
      }).catch(() => {
        console.log('校验失败')
      })
    },
    submit () {
      // 校验每个表单的数据
      this.$refs.test.submit().then(res => {
        console.log('校验通过调用接口', res)
        this.stepArr[this.active].form = res
        this.active++
      }).catch(() => {
        console.log('校验失败')
      })
    }
  },
  components: {
    First,
    Second,
    Third,
    Fourth
  }
}
</script>

<style lang="scss" scoped>
.wrap {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
}
.el-steps {
  width: 80%;
  margin: 0 auto;
}
footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
</style>
