<template>
  <header>
    <div class="info"></div>
    <div class="nav">
      <router-link
        v-for="(item, index) in nav"
        :key="item.path"
        :to="item.path"
      >
        {{ item.title }}
        <span @click.prevent="$emit('remove', index)">x</span>
      </router-link>
    </div>
  </header>
</template>

<script>
export default {
  props: ['nav']
}
</script>

<style lang="scss" scoped>
header {
  height: 120px;
}
.info {
  height: 70px;
  border-bottom: 1px solid #ddd;
}
.nav {
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  border-bottom: 1px solid #ccc;
  a {
    margin: 0 20px;
    color: #333;
    width: 100px;
    line-height: 40px;
    text-align: center;
    position: relative;
    border-radius: 6px 6px 0 0;
    text-decoration: none;
    span {
      display: inline-block;
      width: 16px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      border-radius: 50%;
      &:hover {
        background: #999;
      }
    }
    &::after {
      content: '';
      position: absolute;
      right: -20px;
      top: 8px;
      height: 24px;
      border-right: 1px solid #999;
    }
    &:last-of-type::after {
      display: none;
    }
    &.router-link-exact-active {
      background: #eee;
    }
  }
}
</style>
