<template>
  <div class="menu">
    <nav>
      <p
        v-for="(item, index) in navlist"
        :key="item.title"
        :class="{ active: curIndex === index }"
        @click="changeTab(index)"
      >
        <i class="iconfont" :class="item.iconClass"></i>
        <!-- <i v-html="item.icon"></i> -->
        <span>{{ item.title }}</span>
      </p>
    </nav>
    <div class="tablist">
      <h3>{{ curTitle }}</h3>
      <ul>
        <li
          v-for="item in navlist[curIndex].children"
          :key="item.path"
        >
          <router-link :to="item.path">{{ item.title }}</router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      curIndex: 0,
      curTitle: '111',
      navlist: [
        {
          title: '资金管理',
          iconClass: 'icon-shouye',
          icon: '<svg t="1662170489568" class="icon" viewBox="0 0 1025 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3379"><path d="M534.75392 0.64l-20.468 0 0 468.719c0 7.685 2.558 12.805 7.676 17.929 5.114 5.119 12.792 7.685 17.912 7.685l483.583 0 0-20.494C1026.01392 208.104 808.53092 0.64 534.75392 0.64L534.75392 0.64zM555.22192 453.99 555.22192 41.624C790.62092 51.868 972.28292 228.597 982.52092 453.99L555.22192 453.99 555.22192 453.99zM486.14292 1022.6c271.214 0 493.818-212.59 493.818-476.405l0-20.489L481.02292 525.706 481.02292 41.623l-20.466 0C207.24692 41.624-0.00208 267.014-0.00208 543.635-0.00208 812.572 214.92192 1022.6 486.14292 1022.6L486.14292 1022.6zM437.52492 85.165l0 458.469c0 7.684 2.563 12.805 7.677 17.928 5.118 5.124 12.795 7.687 17.91 7.687l473.35 0c-10.235 227.958-209.807 412.368-450.32 412.368-248.19 0-445.205-192.095-445.205-437.982C40.93792 297.749 217.47992 95.409 437.52492 85.165L437.52492 85.165z" p-id="3380"></path></svg>',
          children: [
            {
              title: '页面一',
              path: '/'
            },
            {
              title: '页面二',
              path: '/child2'
            },
            {
              title: '页面三',
              path: '/child3'
            }
          ]
        },
        {
          title: '系统管理',
          iconClass: 'icon-tongji',
          icon: '<svg t="1662170551064" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4337"><path d="M868.720448 512.593518c-0.711198-44.146453 21.565155-87.357604 66.2294-128.433114 10.909467-10.035564 13.257955-26.353205 5.632277-39.062668-50.307779-83.829244-60.465117-103.065354-62.294788-106.735953-1.189082-3.100618-2.88777-6.039553-5.073552-8.692986-7.869225-9.526981-20.599154-13.521968-32.524764-10.188037-0.914836 0.264013-92.563162 25.255197-160.572092-16.685008-35.799344-22.093181-59.163471-60.119239-69.442582-113.049752-2.846838-14.681374-15.703657-25.275663-30.659277-25.275663L448.582645 64.470337c-15.270798 0-28.300556 11.041474-30.81175 26.109658-0.12689 0.772596-14.585183 78.603219-74.754564 116.944456-39.367613 25.062815-91.225701 28.936029-154.13038 11.418051-13.547551-3.751441-27.929096 1.982144-35.153638 14.020318-61.522192 102.537328-68.161403 113.344464-68.868507 114.462938-3.777023 5.91778-5.469572 13.014408-4.737908 20.100804 0.919952 8.946766 5.703909 17.101493 13.039991 22.307052 0.62524 0.436952 62.426795 45.030589 67.124793 111.240547 3.197832 45.020356-20.568455 91.922572-70.63678 139.40398-10.67513 10.126638-12.836353 26.323529-5.195326 38.889729l70.408583 115.78505c8.057513 13.227256 24.686239 18.535145 38.951127 12.495592 0.707105-0.294712 71.013357-29.322839 133.217071 0.741897 41.914622 20.253276 72.335469 63.514569 90.417289 128.585587 3.756557 13.512758 16.063861 22.865777 30.095435 22.865777l132.992967 0c14.895245 0 27.736715-10.624988 30.65416-25.234731 0.152473-0.793062 16.685008-80.453357 79.172177-118.621655 38.889729-23.730471 88.892563-27.176966 148.645458-10.147104 13.715373 3.883447 28.305673-1.971911 35.503609-14.254655 55.066153-94.016257 63.291488-107.518782 64.358797-109.22668 3.538593-5.398964 5.347798-11.81407 5.094018-18.362206-0.345877-8.652054-4.260024-16.776082-10.818393-22.428825C932.519496 641.026632 869.87883 585.025177 868.720448 512.593518zM879.43958 257.005398c-0.5137 2.082428-1.24434 4.239558-2.342348 6.448876C878.133841 261.371846 878.898251 259.205507 879.43958 257.005398zM880.361579 249.922073c-0.016373 2.100848-0.270153 4.393054-0.839111 6.797823C880.051517 254.477832 880.33702 252.198929 880.361579 249.922073zM832.443219 739.811496c-67.51058-14.630209-126.369106-6.842849-175.222767 23.232121-60.785411 37.404911-88.86698 99.588159-100.396571 134.330428l-86.234013 0c-24.167422-71.018473-63.469544-119.9233-117.05088-145.555074-60.912301-29.119201-123.827213-19.551288-158.172439-10.299577l-44.822858-73.702606c52.132334-55.614645 76.340689-113.284089 72.02029-171.694407-4.823865-65.242933-44.787042-113.467261-70.91205-138.376581 8.774851-14.539134 22.37766-37.202297 43.780109-72.868611 70.708412 15.189957 131.559315 6.92369 181.15078-24.665773 59.081607-37.649482 85.485977-98.632391 96.248088-133.272329l82.47234 0c16.186657 57.963133 47.063899 101.286848 92.02388 129.022539 66.565045 41.075511 145.605216 35.4637 185.166233 28.946262 8.824993 15.931854 22.195511 38.422078 41.889039 71.272253-46.128597 48.762587-69.026096 101.611236-68.130703 157.420309 1.159406 71.821769 42.214451 128.412648 67.246567 156.322301C865.293395 683.779342 852.564489 705.456037 832.443219 739.811496z" p-id="4338"></path><path d="M390.583696 437.121616c-17.248849 0-31.233352 13.980409-31.233352 31.233352l0 30.470989c0 17.253966 13.985526 31.233352 31.233352 31.233352 17.248849 0 31.234375-13.980409 31.234375-31.233352l0-30.470989C421.817048 451.102025 407.832546 437.121616 390.583696 437.121616z" p-id="4339"></path><path d="M634.363885 437.121616c-17.253966 0-31.234375 13.980409-31.234375 31.233352l0 30.470989c0 17.253966 13.980409 31.233352 31.234375 31.233352s31.233352-13.980409 31.233352-31.233352l0-30.470989C665.59826 451.102025 651.617851 437.121616 634.363885 437.121616z" p-id="4340"></path><path d="M669.936055 572.885695c-14.691607-9.05933-33.927717-4.484128-42.987047 10.188037-24.879644 40.343847-67.978231 64.430428-115.302049 64.430428-45.554522 0-88.125083-24.208355-113.873514-64.745606-9.242502-14.559601-28.54001-18.891256-43.10882-9.618055-14.559601 9.242502-18.87079 28.54922-9.618055 43.10882 37.272905 58.685587 99.552344 93.721545 166.600389 93.721545 69.152986 0 132.138506-35.17922 168.477133-94.098121C689.173189 601.181135 684.618453 581.944002 669.936055 572.885695z" p-id="4341"></path><path d="M427.701059 401.200498c5.272074 0 10.619872-1.342578 15.520485-4.158716 23.38971-13.420661 46.017056-20.23281 67.251683-20.23281 24.960485 0 49.341778 6.842849 70.50989 19.795858 14.712073 8.997931 33.943067 4.371564 42.942021-10.350742 8.997931-14.712073 4.371564-33.93795-10.340509-42.946115-30.989805-18.951631-66.641793-28.966729-103.111402-28.966729-32.281217 0-65.375963 9.597589-98.353029 28.529777-14.95562 8.581446-20.126386 27.675316-11.539824 42.630936C406.354891 395.568221 416.877549 401.200498 427.701059 401.200498z" p-id="4342"></path></svg>',
          children: [
            {
              title: '页面四',
              path: '/child4'
            },
            {
              title: '页面五',
              path: '/child5'
            },
            {
              title: '页面六',
              path: '/child6'
            }
          ]
        }
      ]
    }
  },
  methods: {
    changeTab (i) {
      if (this.$route.path === this.navlist[i].children[0].path) return
      // tab 切换，跳转到第一个子路由
      this.curIndex = i
      this.$router.push(this.navlist[i].children[0].path)
    }
  },
  computed: {
    // curTitle () {
    //   let curTitle = ''
    //   // 遍历导航，根据当前路由地址查找对应的标题
    //   this.navlist.forEach(item => {
    //     item.children.forEach(val => {
    //       if (this.$route.path === val.path) {
    //         curTitle = val.title
    //       }
    //     })
    //   })
    //   return curTitle
    // }
  },
  watch: {
    // 监听路由改变
    $route: {
      handler  () {
        // 遍历导航
        this.navlist.forEach((item, index) => {
          item.children.forEach(val => {
            if (this.$route.path === val.path) {
              this.curIndex = index // 根据当前地址修改高亮下标
              this.curTitle = val.title // 根据当前路由地址查找对应的标题
              // 调用父组件函数
              this.$emit('add', val)
            }
          })
        })
      },
      immediate: true
    }
  }
}
</script>

<style lang="scss">
// 全局样式
// .icon {
//   width: 20px;
//   height: 20px;
// }
</style>
<style lang="scss" scoped>
@import '~@/font/iconfont.css';
.menu {
  width: 290px;
  background: #ccc;
  display: flex;
  nav {
    width: 120px;
    background: #001135;
    padding-top: 130px;
    p {
      height: 120px;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      opacity: 0.6;
    }
    // 在 scoped 中修改全局样式
    ::v-deep .icon {
      width: 30px;
      height: 30px;
      fill: #ffffff;
    }
    .iconfont {
      font-size: 20px;
    }
    .active {
      background: #061d48;
      border-left: 3px solid #fff;
      opacity: 1;
    }
  }
}
.tablist {
  width: 170px;
  background: #061d48;
  h3 {
    height: 130px;
    line-height: 130px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #eee;
  }
  li {
    list-style-type: none;
    margin: 16px 0;
  }
  a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.5;
    display: block;
    line-height: 30px;
    padding-left: 20px;
  }
  .router-link-exact-active {
    opacity: 1;
    border-right: 5px solid skyblue;
  }
}
</style>
