.gohome {
  height: 100%;
  overflow: auto;
  :global {
    .adm-nav-bar-left {
      display: none;
    }
  }
}
.address {
  flex: 1;
  text-align: left;
}
.list {
  display: flex;
  flex-wrap: wrap;
  img {
    width: 100%;
  }
  dl {
    width: calc(100% / 3);
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    &:nth-child(3n) {
      border-right: none;
    }
    h4 {
      height: 50px;
    }
    p {
      display: flex;
      justify-content: space-between;
      padding: 10px;
    }
  }
}