<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    **** {{ title }} ****
    <h1>{{ title }}</h1>
    <p>姓名：{{ firstname }} {{ lastname }}</p>
    <p>年龄: {{ info.age }}</p>
    <p>性别: {{ info.sex }}</p>
    <p>城市: {{ info.address.city }}</p>
  </div>

  <script>
    let vm = new Vue({
      el: '.app',
      data: {
        title: '默认标题',
        firstname: '王',
        lastname: '小明',
        info: {
          age: 100,
          sex: '男',
          address: {
            city: '北京'
          }
        }
      }
    })

  










    // let person = {
    //   firstname: '王',
    //   lastname: '小明',
    //   title: '标题',
    //   info: {
    //     age: 100,
    //     sex: '男',
    //     address: {
    //       city: '北京'
    //     }
    //   }
    // }
    // function getVal (obj, key) {
    //   return key.split('.').reduce((prev, val) => prev[val], obj)
    // }
    // console.log(getVal(person, 'title')) // 标题
    // console.log(getVal(person, 'firstname')) // 王
    // console.log(getVal(person, 'info.age')) // 100
    // console.log( getVal(person, 'info.address.city')) // 北京




    // // 数据劫持，把传入对象的所有属性变成访问器属性，劫持数据的获取和修改
    // function observe(obj) {
    //   if (typeof obj !== 'object' || obj === null) return obj
    //   Object.keys(obj).forEach(key => {
    //     // 递归把对象的所有属性都改成访问器属性
    //     observe(obj[key])
    //     let oldval = obj[key]
    //     Object.defineProperty(obj, key, {
    //       get () {
    //         return oldval
    //       },
    //       set (val) {
    //         oldval = val
    //       }
    //     })
    //   })
    // }
    // observe(person)
    // console.log(person)



    // let firstname = obj.firstname
    // // 把对象的属性变成访问器属性
    // Object.defineProperty(obj, 'firstname', {
    //   // enumerable: false, // 是否可枚举，能否被for in遍历
    //   // writable: false, // 是否可修改
    //   get () {
    //     return firstname
    //   },
    //   set (newval) {
    //     firstname = newval
    //   }
    // })

  </script>
</body>
</html>