<template>
  <header>
    <h2>任务发放</h2>
    <nav>
      <span
        v-for="item in navlist"
        :key="item.status"
        :class="{ active: item.status === status }"
        @click="$emit('fn', item.status)"
      >{{ item.text }}</span>
    </nav>
    <input type="text" @input="$emit('search', $event.target.value)">
  </header>
</template>

<script>
export default {
  props: ['status'],
  data() {
    return {
      navlist: [
        {
          text: '全部',
          status: 0
        },
        {
          text: '已完成',
          status: 1
        },
        {
          text: '进行中',
          status: 2
        },
        {
          text: '已终止',
          status: 3
        }
      ]
    }
  }
}
</script>

<style lang="scss">
header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  nav {
    flex: 1;
    margin-left: 30px;
    display: flex;
    span {
      padding: 3px 10px;
      border: 1px solid;
      margin-right: 15px;
      cursor: pointer;
    }
    .active {
      background: orange;
      color: #ffffff;
    }
  }
  input {
    width: 200px;
    height: 30px;
  }
}
</style>