<template>
  <div class="task">
    <div class="left" :style="{ background: statueEnum[info.status].color }">
      {{ statueEnum[info.status].text }}
    </div>
    <div class="center">
      <div class="top">{{ info.title }}</div>
      <div class="btm">
        <div class="row">
          <p>评分: <Star :star="info.star" /></p>
          <p>执行人: {{ info.master.join(',') }}</p>
        </div>
        <div class="row">
          <p>开始时间: {{ info.startTime }}</p>
          <p>结束时间: {{ endTime(info.endTime) }}</p>
        </div>
      </div>
    </div>
    <div class="right" :style="{ background: taskType[info.taskType].color }">{{ taskType[info.taskType].text }}</div>
  </div>
</template>

<script>
import Star from './Star.vue'
export default {
  props: ['info'],
  data() {
    return {
      statueEnum: {
        1: {
          text: '已完成',
          color: 'tomato'
        },
        2: {
          text: '进行中',
          color: 'yellowgreen'
        },
        3: {
          text: '强制终止',
          color: '#666'
        }
      },
      taskType: [
        {
          text: '日常任务',
          color: 'green'
        },
        {
          text: '临时任务',
          color: 'pink'
        },
        {
          text: '专项任务',
          color: '#b231b0'
        }
      ]
    }
  },
  methods: {
    endTime(time) {
      let start = new Date(this.info.startTime).getTime()
      let end = time * 24 * 60 * 60 * 1000 + start
      return new Date(end).toLocaleString().replace(/\//g, '-')
    }
  },
  components: {
    Star
  }
}
</script>

<style lang="scss">
.task {
  display: flex;
  margin-bottom: 30px;
}
.left {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: #fff;
}
.center {
  flex: 1;
  display: flex;
  flex-direction: column;
  .top {
    height: 36px;
    line-height: 36px;
    background: #999;
    padding-left: 20px;
  }
}
.btm {
  flex: 1;
  padding: 0 20px;
}
.row {
  display: flex;
  p:first-of-type {
    width: 260px;
  }
}
.right {
  width: 50px;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
}
</style>