<template>
  <div class="login">
    <el-form
      :model="ruleForm"
      :rules="rules"
      ref="ruleForm"
      class="loginForm"
    >
      <h2>登陆</h2>
      <el-form-item prop="name">
        <el-input v-model="ruleForm.name" prefix-icon="el-icon-user" placeholder="用户名"></el-input>
      </el-form-item>
      <el-form-item prop="password">
        <el-input v-model="ruleForm.password" prefix-icon="el-icon-lock" placeholder="密码" show-password></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm">登陆</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      ruleForm: {
        name: '',
        password: ''
      },
      rules: {
        name: [
          { required: true, message: '请输入活动名称', trigger: 'blur' },
          { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
        ],
        password: [
          { required: true, message: '请输入密码', trigger: 'blur' },
          { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    async login () {
      const res = await axios.post('/api/login', this.ruleForm)
      if (res.data.code === 0) {
        this.$message({
          message: '恭喜你，登陆成功',
          type: 'success'
        })
        localStorage.setItem('token', res.data.token)
        this.$router.push('/')
      } else {
        this.$message({
          message: res.data.msg,
          type: 'error'
        })
      }
    },
    submitForm () {
      // 通过form组件触发校验
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          // 校验通过调用登陆接口
          this.login()
        } else {
          return false
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.login {
  width: 100%;
  min-width: 1200px;
  height: 100%;
  background: url(https://img.alicdn.com/tfs/TB1cpTewMHqK1RjSZFEXXcGMXXa-2872-1580.png)
    no-repeat;
  background-size: cover;
  position: relative;
}
.loginForm {
  position: absolute;
  top: 50%;
  right: 200px;
  transform: translateY(-50%);
  background: #fff;
  width: 350px;
  padding: 20px;
  border-radius: 8px;
  h2 {
    margin: 10px 0 20px;
    text-align: center;
  }
}
.el-button {
  width: 100%;
}
</style>
