<template>
  <div id="app">
    <nav>
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/list">List</router-link> |
      <button @click="change">{{ isGrid ? '列表' : '网格' }}</button>
    </nav>
    <hr />
    <router-view/>
  </div>
</template>

<script>
export default {
  computed: {
    isGrid () {
      return this.$store.state.isGrid
    }
  },
  methods: {
    change () {
      console.log('修改布局样式')
      this.$store.commit('setGrid', !this.isGrid)
    }
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.router-link-exact-active {
  background: orange;
}
</style>
