.movie {
  height: 100%;
  overflow: auto;
  nav {
    display: flex;
    border-bottom: 1px solid #999;
    a {
      flex: 1;
      text-align: center;
      line-height: 40px;
    }
  }
  :global {
    .active {
      background: tomato;
      color: #fff;
    }
  }
}
.title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #ffffff;
  border-bottom: 1px solid #ccc;
  h2 {
    text-align: center;
  }
  span {
    position: absolute;
    top: 0;
    width: 50px;
    text-align: center;
  }
}