<template>
  <div class="gohome">
    <dl class="goods" v-for="item in allList" :key="item.id" @click="goDetail(item.id)">
      <dt>
        <img :src="item.img" alt="">
      </dt>
      <dd>
        <h3>{{ item.name }}</h3>
        <p>
          <span>¥{{ item.price }}</span>
          <button @click.stop="addCart({ id: item.id })">+</button>
        </p>
      </dd>
    </dl>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'

export default {
  computed: {
    ...mapState(['allList'])
  },
  methods: {
    ...mapActions(['getList']),
    ...mapMutations(['addCart']),
    goDetail (id) {
      this.$router.push({
        name: 'detail',
        params: { id }
      })
    }
  },
  created () {
    this.getList()
  }
}
</script>

<style lang="scss" scoped>
img {
  vertical-align: middle;
  width: 100%;
}
.gohome {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
}
.goods {
  box-sizing: content-box;
  width: calc((100% - 2px) / 3);
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  &:nth-child(3n) {
    border-right: none;
  }
  dd {
    padding: 10px;
    p {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
    }
    button {
      width: 20px;
      height: 20px;
    }
  }
}
</style>
