<template>
  <div style="padding: 20px">
    <ul>
      <li v-for="(item, index) in list" :key="item.id">
        <input type="checkbox" :checked="item.checked" @change="changeItem(index)">
        {{ item.text }}
      </li>
    </ul>
    <footer>
      <input type="checkbox" v-model="checkAll" @change="changeAll(checkAll)"> 全选 {{ checkAll }}
    </footer>
    {{ list }}
    <hr />
    <CheckAll />
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import CheckAll from '@/components/CheckAll.vue'

export default {
  data () {
    return {
      checkAll: false
    }
  },
  watch: {
    list: {
      handler () {
        this.checkAll = this.list.every(item => item.checked)
      },
      deep: true,
      immediate: true
    }
  },
  computed: {
    ...mapState(['list'])
  },
  methods: {
    ...mapMutations(['changeAll', 'changeItem'])
  },
  components: {
    CheckAll
  }
}
</script>

<style>

</style>
