* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f5f5f5;
}
.app {
  padding: 20px;
}
.font-size {
  position: absolute;
  right: 20px;
  top: 20px;
  button {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
}