<template>
  <div class="app">
    <div class="menu">
      <p
        v-for="(item, index) in goods"
        :key="item.name"
        :class="{ active: curIndex === index }"
        @click="changeTab(index)"
      >{{ item.name }}</p>
    </div>
    <div class="content" ref="content" @scroll="scrollFn">
      <div class="floor" v-for="item in goods" :key="item.name">
        <h3>{{ item.name }}</h3>
        <div class="list">
          <dl v-for="food in item.foods" :key="food.name">
            <dt><img :src="food.image" alt=""></dt>
            <dd>
              <p>{{ food.name }}</p>
              <p>${{ food.price }}</p>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="fixedTitle" :style="{ top: fixedTop + 'px' }">{{ goods[curIndex] && goods[curIndex].name }}</div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      goods: [],
      curIndex: 0,
      offsetTops: [], // 每层楼到顶部的距离
      fixedTop: 0
    }
  },
  methods: {
    changeTab (index) {
      // this.curIndex = index
      // 修改楼层位置
      this.$refs.content.scrollTop = this.$refs.content.children[index].offsetTop
    },
    scrollFn () {
      const top = this.offsetTops[this.curIndex + 1] - this.$refs.content.scrollTop - 36
      console.log(top)
      if (top <= 0 && top >= -36) {
        this.fixedTop = top
      } else {
        this.fixedTop = 0
      }
      // 遍历每层楼到顶部的距离，判断当前滚动的位置超过了哪一层楼
      this.offsetTops.forEach((t, i) => {
        if (this.$refs.content.scrollTop >= t) {
          this.curIndex = i
        }
      })
      // 滚动到底部
      if (this.$refs.content.scrollTop + this.$refs.content.clientHeight >= this.$refs.content.scrollHeight) {
        this.curIndex = this.offsetTops.length - 1
      }
    }
  },
  created () {
    axios.get('/sell/api/goods').then(res => {
      this.goods = res.data.data
      // 等待页面渲染完成获取每层楼都到顶部的距离
      this.$nextTick(() => {
        this.offsetTops = [...this.$refs.content.children].map(item => item.offsetTop)
      })
    })
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, .app {
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
  vertical-align: middle;
}
.app {
  display: flex;
}
.menu {
  width: 100px;
  background: #ccc;
  p {
    height: 60px;
    text-align: center;
    padding: 0 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
  .active {
    background: orange;
  }
}
.content {
  flex: 1;
  overflow: auto;
  scroll-behavior: smooth;
}
.floor {
  h3 {
    background: #ddd;
    font-size: 14px;
    padding-left: 10px;
    border-left: 3px solid #999;
    line-height: 36px;
  }
  dl {
    display: flex;
    padding: 10px 15px;
    height: 80px;
  }
  dt {
    width: 80px;
  }
  dd {
    flex: 1;
  }
}
.fixedTitle {
  background: #ddd;
  font-size: 14px;
  padding-left: 10px;
  border-left: 3px solid #999;
  line-height: 36px;
  position: absolute;
  left: 100px;
  right: 0;
  font-weight: bold;
}
</style>
