.movie {
  nav {
    display: flex;
    border-bottom: 1px solid #999;
    a {
      flex: 1;
      text-align: center;
      line-height: 40px;
    }
  }
  :global {
    .active {
      background: tomato;
      color: #fff;
    }
  }
}