.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
  }
  footer {
    height: 50px;
    border-top: 1px solid #ccc;
    display: flex;
    a {
      text-decoration: none;
      flex: 1;
      text-align: center;
      line-height: 50px;
      color: #333;
    }
    :global {
      // 在css module中修改全局样式
      // .active {
      //   background: orange;
      //   color: #fff;
      // }
    }
    .active {
      background: orange;
      color: #fff;
    }
  }
}