<template>
  <div id="app">
    用户列表：
    <ul>
      <li v-for="item in person" :key="item.name">
        <h3>{{item.name}}</h3>
        <p>{{item.age}}</p>
      </li>
    </ul>
    <hr />
    <button @click="visiblePerson = true">添加用户</button>
    <Dialog
      v-if="visiblePerson"
      title="添加用户弹窗"
      btnText="添加用户"
      :hidePerson="hidePerson"
      :add="add"
    />
  </div>
</template>

<script>
// 引入组件
import Dialog from './components/Dialog.vue'

export default {
  name: 'App',
  data() {
    // 组件中定义的变量只能在当前组件修改
    return {
      person: [],
      visiblePerson: false,
    }
  },
  methods: {
    hidePerson() {
      this.visiblePerson = false
    },
    add(form) {
      console.log('调用了add函数', form)
      this.person.push({...form})
    }
  },
  // 注册组件
  components: {
    Dialog
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #app {
  width: 100%;
  height: 100%;
}
</style>
