<template>
  <div class="detail">
    <div class="info">
      <div class="banner">
        {{ info.banners }}
      </div>
      <h2>{{ info.name }}</h2>
      <p>简介：{{ info.desc }}</p>
      <p>价格: ¥{{ info.price }}</p>
    </div>
    <footer>
      <i @click="$router.push('/cart')">
        <svg t="1663572741215" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4392" width="32" height="32"><path d="M246.4 912a2.1 2.1 0 1 0 134.4 0 2.1 2.1 0 1 0-134.4 0Z" p-id="4393"></path><path d="M716.8 912a2.1 2.1 0 1 0 134.4 0 2.1 2.1 0 1 0-134.4 0Z" p-id="4394"></path><path d="M905.6 764.8l-537.6 0c-28.8 0-57.6-25.6-64-54.4l-96-566.4c-9.6-54.4-60.8-96-115.2-96l-22.4 0c-12.8 0-25.6 12.8-25.6 25.6 0 12.8 12.8 25.6 25.6 25.6l22.4 0c28.8 0 57.6 25.6 64 54.4l96 566.4c9.6 54.4 60.8 96 115.2 96l537.6 0c12.8 0 25.6-12.8 25.6-25.6C931.2 777.6 921.6 764.8 905.6 764.8z" p-id="4395"></path><path d="M880 179.2l-572.8 0c-12.8 0-25.6 12.8-25.6 25.6 0 12.8 12.8 25.6 25.6 25.6l572.8 0c25.6 0 38.4 16 32 41.6l-70.4 281.6c-6.4 32-41.6 57.6-73.6 60.8l-396.8 28.8c-12.8 0-25.6 12.8-22.4 28.8 0 12.8 12.8 25.6 28.8 22.4l396.8-28.8c54.4-3.2 105.6-48 118.4-99.2l70.4-281.6C976 230.4 937.6 179.2 880 179.2z" p-id="4396"></path></svg>
        <span v-if="cartLen > 0">{{ cartLen }}</span>
      </i>
      <button @click="addCart({ id: info.id })">加入购物车</button>
    </footer>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState(['allList']),
    ...mapGetters(['cartLen']),
    info () {
      return this.allList.find(item => item.id === this.$route.params.id) || {}
    }
  },
  methods: {
    ...mapActions(['getList']),
    ...mapMutations(['addCart'])
  },
  created () {
    if (this.allList.length === 0) {
      this.getList()
    }
  }
}
</script>

<style lang="scss" scoped>
.detail {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.info {
  flex: 1;
  overflow: auto;
}
footer {
  height: 50px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  i {
    position: relative;
    height: 30px;
    font-style: normal;
    span {
      position: absolute;
      top: -8px;
      right: -8px;
      width: 16px;
      height: 16px;
      background: tomato;
      color: #fff;
      font-size: 12px;
      border-radius: 50%;
      text-align: center;
      line-height: 16px;
    }
  }
}
</style>
