.new {
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  padding: 10px 40px;
  section {
    display: flex;
    margin-top: 30px;
  }
}
.form {
  margin-left: 30px;
  display: flex;
  input {
    margin-right: 3px;
  }
  label {
    margin-right: 6px;
  }
}
.papas {
  label {
    color: #fe7301;
  }
}
.task {
  input {
    border: 1px solid;
  }
}
.number {
  width: 40px;
  text-indent: 15px;
  border: 1px solid;
}
.checkbox {
  width: 20px;
  vertical-align: middle;
  border: 1px solid #eee;
}
.remarks {
  textarea {
    border: 1px solid #c5c5c5;
    outline: none;
    padding: 5px;
  }
}
.submit {
  width: 300px;
  position: fixed;
  bottom: 180px;
  left: 50%;
  transform: translateX(-50%);
  button {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    background-color: #fe7301;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
  }
}