<template>
  <div class="app">
    <nav>
      <router-link to="/">首页</router-link> ｜
      <router-link to="/list">列表</router-link>
    </nav>
    <hr />
    <router-view />
  </div>
</template>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
html, body, .app {
  width: 100%;
  height: 100%;
}
nav {
  line-height: 40px;
  padding: 20px;
}
</style>
