<template>
  <div>
    <h2>姓名： {{ user }}
      <input type="text" :value="user" @input="setUser($event.target.value)">
    </h2>
    <p>年龄：{{ age }} <input type="text" :value="age" @input="setAge($event.target.value)"></p>
    <p>性别：{{ sex }} <input type="text" :value="sex" @input="setSex($event.target.value)"></p>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  computed: {
    // ...mapState({
    //   // 获取 userInfo 子仓库的数据
    //   user: state => state.userInfo.user,
    //   age: state => state.userInfo.age,
    //   sex: state => state.userInfo.sex
    // })
    ...mapState('userInfo', ['user', 'age', 'sex'])
  },
  methods: {
    ...mapMutations('userInfo', ['setUser', 'setAge', 'setSex'])
  },
  created () {
    console.log(this.$store.state)
  }
}
</script>

<style>

</style>
