<template>
  <div>
    <h2>商品名称： {{ goodsTitle }} <input type="text" :value="goodsTitle" @input="setGoodsTitle($event.target.value)"></h2>
    <p>商品价格：{{ goodsPrice }} <input type="number" :value="goodsPrice" @input="setGoodsPrice($event.target.value)"></p>
    <p>商品数量：
      <button @click="setGoodsCount(goodsCount - 1)">-</button>
      {{ goodsCount }}
      <button @click="setGoodsCount(goodsCount + 1)">+</button>
    </p>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState('goodsInfo', ['goodsTitle', 'goodsPrice', 'goodsCount'])
  },
  methods: {
    ...mapMutations('goodsInfo', ['setGoodsTitle', 'setGoodsPrice', 'setGoodsCount'])
  }
}
</script>

<style>

</style>
