<template>
  <footer>
    <div class="top">
      <b>已选食物({{ selected.length }})</b>
      <router-link to="/list">去测评</router-link>
    </div>
    <ul>
      <li v-for="item in selected" :key="item.name">
        {{ item.name }}
        <span @click="changeSelected(item.name)">x</span>
      </li>
    </ul>
  </footer>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  computed: {
    ...mapState(['selected'])
  },
  methods: {
    ...mapMutations(['changeSelected'])
  }
}
</script>

<style lang="scss" scoped>
footer {
  border-top: 1px solid #ccc;
  max-height: 40%;
  display: flex;
  flex-direction: column;
}
.top {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
    color: #fff;
    background: tomato;
    padding: 5px 20px;
    border-radius: 30px;
  }
}
ul {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 16px;
  li {
    padding: 6px 20px;
    border: 1px solid #ddd;
    margin-left: 16px;
    margin-top: 16px;
    position: relative;
    span {
      position: absolute;
      top: -8px;
      right: -8px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      color: #fff;
      background: #ccc;
      text-align: center;
      font-size: 12px;
      line-height: 16px;
    }
  }
}
</style>
