<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <goods></goods>
    <hr />
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
    </ul>
    <hr />
    <goods></goods>
  </div>

  <script>
    // 注册全局组件，页面和其他组件中都可以直接使用
    Vue.component('goods', {
      template: `
        <div class="goods">
          <test></test>
          <h3>{{title}}</h3>
          <p>价格: ¥{{price}}</p>
          <count></count>
        </div>
      `,
      data() {
        return {
          title: '标题',
          price: 10,
          count: 1
        }
      },
      // 注册局部组件，只能在此组件中使用
      components: {
        count: {
          template: `
            <div class="goods">
              <button @click="count--">-</button>
              {{count}}
              <button @click="count++">-</button>
            </div>
          `,
          data() {
            return {
              count: 1
            }
          }
        },
        test: {
          template: '<b>测试组件</b>'
        }
      }
    })


    const vm = new Vue({
      el: '.app',
      data: {
        apple: {
          title: '苹果',
          price: 20,
          count: 1
        },
        banana: {
          title: '香蕉',
          price: 15,
          count: 10
        }
      }
    })
  </script>
</body>
</html>