.pagination-wrap {
  display: flex;
  flex-wrap: wrap;
  button {
    height: 30px;
    padding: 0 12px;
    border: 1px solid #ccc;
    margin-right: 12px;
    color: #333;
    background: #fff;
    &:hover {
      border-color: #1890ff;
      color: #1890ff;
    }
  }
  .active {
    border-color: #1890ff;
    color: #1890ff;
  }
}