* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #app {
  width: 100%;
  height: 100%;
}
li {
  list-style-type: none;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
}
button, input {
  outline: none;
}