* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  h1 {
    color: red;
  }
}
.goods {
  border: 1px solid #333;
  padding: 20px;
  button {
    margin: 0 10px;
    width: 20px;
    height: 20px;
  }
}