<template>
  <div>
    <div class="row">
      <input type="text" placeholder="请输入用户名" v-model="username">
    </div>
    <div class="row">
      <input type="password" placeholder="请输入密码" v-model="password">
    </div>
    <div class="row">
      <button @click="login">登陆</button>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    login () {
      axios.post('/mqq/login', {
        username: this.username,
        password: this.password
      }).then(res => {
        if (res.data.code === 0) {
          localStorage.setItem('token', res.data.token)
          console.log(this.$route)
          const path = this.$route.query.fullPath || '/'
          this.$router.replace(path)
        }
      })
    }
  }
}
</script>

<style>

</style>
