<template>
  <div id="app">
    <Header />
    <Nav v-model="ComName" />
    <main>
      <keep-alive include="Goods">
        <component :is="ComName"></component>
      </keep-alive>
    </main>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Nav from './components/Nav.vue'
import Goods from './components/Goods.vue'
import Comment from './components/Comment.vue'
import Merchant from './components/Merchant.vue'

export default {
  name: 'App',
  data () {
    return {
      ComName: 'Goods'
    }
  },
  components: {
    Header,
    Nav,
    Goods,
    Comment,
    Merchant
  },
  created () {
  }
}
</script>

<style lang="scss">
@import './font/iconfont.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #app {
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  overflow: hidden;
}
</style>
