<template>
  <div id="app">
    <!-- vue-router的内置组件，渲染路由组件的位置 -->
    <main>
      <router-view />
    </main>
    <footer>
      <!-- active-class="路由按钮高亮类名"  默认类名是 router-link-active -->
      <!-- exact-active-class="精准匹配的按钮高亮类名"  默认类名是 router-link-exact-active -->
      <router-link to="/movie">电影</router-link>
      <router-link to="/movie/cinema">影院</router-link>
      <router-link to="/movie/cinema/mine">我的</router-link>
    </footer>
  </div>
</template>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #app {
  width: 100%;
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
  }
  footer {
    height: 50px;
    border-top: 1px solid #ddd;
    display: flex;
    line-height: 50px;
    a {
      flex: 1;
      text-align: center;
      text-decoration: none;
      color: #333;
    }
  }
}
.router-link-exact-active {
  background: orange;
  color: #fff;
}
</style>
