<template>
  <div>
    <!-- <button @click="show = !show">按钮</button> -->
    <!-- vue会尽可能的就地服用dom元素,如果不希望vue复用元素可以添加不同的key -->
    <!-- <div class="abc" v-if="show" key="name">
      姓名: <input type="text" placeholder="请输入姓名">
    </div>
    <div class="cba" v-else key="age">
      age: <input type="text" placeholder="请输入年龄">
    </div> -->

    

    <!-- <transition
      name="custom"
      enter-active-class="animate__animated animate__flip"
      leave-active-class="animate__animated animate__hinge"
    >
      <Test v-if="show" />
    </transition> -->

    <!-- transition: vue内置组件，被包裹的元素显示隐藏时会自动添加类名 -->
    <!-- <transition name="bounce" enter-active-class="active" @after-enter="end">
      <Test v-if="show" />
    </transition> -->

  <input type="text" @keydown="input" />
  <button @click="list.shift()">删除第一项</button>
  <ul>
    <li v-for="(item, index) in list" :key="item">
      <input type="checkbox">
      {{ item }}
    </li>
  </ul>
  </div>
</template>

<script>
import Test from './Test.vue'

// 更新前 aa bb cc
// 更新后 bb cc

export default {
  data() {
    return {
      show: true,
      list: []
    }
  },
  methods: {
    input(e) {
      if (e.keyCode === 13) {
        this.list.push(e.target.value)
        e.target.value = ''
      }
    },
    end() {
      alert('动画结束了')
    }
  },
  components: {
    Test
  }
}
</script>

<style lang="scss">


/* 过渡动画 */
@keyframes bounce {
  0% {
    transform: scale(1);
    transform-origin: left top;
  }
  50% {
    transform: scale(3);
    transform-origin: left top;
  }
  100% {
    transform: scale(1);
    transform-origin: left top;
  }
}
.active {
  animation: bounce 1s linear;
}

/* 

.fade-enter {
  transform: translateY(300px);
  background: red;
  color: blue;
}
.fade-enter-active {
  transition: all 3s linear;
}
.fade-leave-to {
  transform: translateX(100%);
  opacity: 0;
}
.fade-leave-active {
  transition: all 5s linear;
}
p {
  transform: translateY(0);
  background: green;
  color: #ffffff;
} */

</style>