<template>
  <div class="box">
    <h1>测试组件</h1>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.box {
  width: 500px;
  height: 300px;
  background: red;
  margin: 0 auto;
}
</style>