<template>
  <div class="app">
    <Button @click="visible = true">普通弹窗</Button>
    <Dialog
      :visible="visible"
      title="普通弹窗"
      okText="确定"
      cancelText="取消"
      @close="visible = false"
      @cancel="cancel"
      @ok="ok"
    >
      <!-- <template v-slot:header>
        <header>
          头部
        </header>
      </template> -->

      <div>div</div>
      <ul>
        <li>1</li>
        <li>2</li>
      </ul>
      <p>ppp</p>
      <div>div</div>

      <!-- <template v-slot:footer>
        <footer>底部</footer>
      </template> -->
    </Dialog>

    <TestSlot>
      <template v-slot:header="data">
        <p>
          头部描述描述 {{ data }}
        </p>
      </template>

      <template v-slot:default="abc">
        <!-- 作用域插槽，插槽内可以使用子组件内的变量 -->
        <p>
          底部描述描述  {{ abc }}
        </p>
      </template>
    </TestSlot>

  </div>
</template>

<script>
import Dialog from './components/Dialog.vue'
import Button from './components/Button.vue'
import TestSlot from './components/TestSlot.vue'

export default {
  data() {
    return {
      visible: false
    }
  },
  methods: {
    cancel() {
      alert('点击了取消')
      this.visible = false
    },
    ok() {
      alert('点击了确定按钮')
      this.visible = false
    }
  },
  components: {
    Dialog,
    Button,
    TestSlot
  },
  mounted() {
    console.log(this)
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  background: #009688;
}
.app {
  width: 800px;
  margin: 0 auto;
}
ul li {
  list-style-type: none;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
}
</style>