<template>
  <div>详情页面</div>
</template>

<script>
export default {
  created () {
    // this.$route: 获取当前路由信息
    // console.log(this.$route.query) // 获取 query 参数
    console.log(this.$route.params) // 获取动态路由参数
  }
}
</script>

<style>

</style>
