<template>
  <div class="test">
    <h2>组件内容</h2>
    <h3>父组件标题：<span style="color: #fff">{{ tt }}</span></h3>
    <input type="text" :value="tt" @input="change">
    <p>
      <button @click="$emit('changeCount', -1)">-</button>
      {{ cc }}
      <button @click="$emit('changeCount', 1)">+</button>
    </p>
  </div>
</template>

<script>
export default {
  props: ['tt', 'cc'],
  methods: {
    change(e) {
      console.log(e.target.value)
      // 调用自定义事件把input的值传给父组件
      this.$emit('changeInput', e.target.value)
    }
  }
}
</script>


<style lang="scss" scoped>
// scoped: 样式只在当前组件内生效
.test {
  border: 5px solid tomato;
  padding: 20px;
}
h2 {
  color: #ffffff;
}
</style>