<template>
  <div class="app">
    <h2>{{ title }}</h2>
    <p>count： {{ count }}</p>
    <TestCom
      :tt="title"
      :cc="count"
      @changeInput="changeTitle"
      @changeCount="changeCount"
    />
  </div>
</template>

<script>
import TestCom from './components/TestCom.vue'
export default {
  data() {
    return {
      title: '默认标题',
      count: 0
    }
  },
  methods: {
    // 子组件修改父组件数据:
    // 1. 在父组件定义修改数据的函数
    // 2. 通过自定义事件把函数传给子组件
    // 3. 在子组件中通过 $emit() 调用自定义事件执行父组件的函数
    changeTitle(text) {
      this.title = text
    },
    changeCount(n) {
      this.count += n
    }
  },
  components: {
    TestCom
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  background: #009688;
}
.app {
  width: 800px;
  margin: 0 auto;
}
</style>